/****************************** END OF JPLIST *******************************/
.jplist-grid-view .list-item {
    min-width: 275px;
}
.jplist .list .list-item {
    margin: 4px;
    margin-top: 0px;
    margin-bottom: 6px;
    /*overflow: visible;*/
}
.jplist .title {
    color: inherit;
    text-shadow: none;
}
.jplist-grid-view .list-item .desc {
    display: block;
}
.jplist .list .img img {
    max-width: none;
    border-radius: 0;
}
.jplist .list {
    background: none;
    margin: 0;
}
.box .col-md-9, .box .col-md-3 {
    padding: 0px;
}
.jplist-panel input[type="text"] {
    width: 232px;
}
.jplist-panel .mdl-textfield {
    width: 205px;
}
.jplist-panel i.zmdi.zmdi-search, .jplist-panel .mdl-textfield {
    display: inline-block;
    vertical-align: middle;
}
.jplist-panel i.zmdi.zmdi-search {
    width: auto;
}
.jplist .filterbox label.mdl-checkbox {
    font-weight: 500;
    line-height: 0;
    display: table;
}
.jplist .filterbox label.mdl-checkbox span {
    line-height: 1.5;
    font-size: 14px;
    vertical-align: middle;
}
.jplist .filterbox label.mdl-checkbox span {
    line-height: 1.5;
}
.jplist-panel .text-filter-box {
    margin: 10px 10px 34px 0;
}
.jplist-drop-down .jplist-dd-panel:after {
    content: "\f063";
    color: #4E4E4E;
    display: inline-block;
    position: absolute;
    right: 10px;
    z-index: 2;
    font-family: FontAwesome;
    font-size: 10px;
}
.jplist .filterbox {
    overflow: visible;
}
.jplist-drop-down {
    width: 50%;
    margin: 0px;
    margin-bottom: 12px;
    margin-top: 14px;
    border-bottom: solid 1px #ADADAD;
    width: 100%;
}
.jplist-drop-down:hover,  .jplist-drop-down:focus {
    border-color: #33CDF1;
    cursor: pointer;
}
.jplist-drop-down ul {
    padding: 0;
    display: none;
}
.jplist-drop-down li {
    list-style: none;
    padding-left: 30px;
}
.jplist-drop-down li:hover {
    background: #DEDEDE;
}
.jplist-drop-down li.active {
    background: #33CDF1;
    color: white;
}
.jplist-panel .jplist-pagination .jplist-current {
    z-index: 3;
    color: #fff;
    cursor: default;
    background: #337ab7;
    border-color: #337ab7;
    text-shadow: none;
    border: none;
}
.jplist-panel .jplist-pagination button {
    padding: 5px;
    line-height: 1;
    margin: 3px;
    width: 25px;
}
.box .mdl-card__title {
    height: 75px;
    display: table;
    width: 100%;
}
.jplist-label {
    margin-top: 3px;
}
.jplist .mdl-card__image img {
    width: auto;
    height: 100%;
}
.jplist-grid-view .list-item .block {
    text-align: left;
}
/****************************** END OF JPLIST *******************************/