﻿<%@ Page UICulture="en" Culture="en-US" Language="C#" MasterPageFile="~sitecollection/_catalogs/masterpage/COP_PFO_MasterPage.master" Inherits="Microsoft.SharePoint.WebPartPages.WebPartPage,Microsoft.SharePoint,Version=15.0.0.0,Culture=neutral,PublicKeyToken=71e9bce111e9429c" meta:webpartpageexpansion="full" meta:progid="SharePoint.WebPartPage.Document" %>

<%@ Register TagPrefix="SharePoint" Namespace="Microsoft.SharePoint.WebControls" Assembly="Microsoft.SharePoint, Version=15.0.0.0, Culture=neutral, PublicKeyToken=71e9bce111e9429c" %>
<%@ Register TagPrefix="Utilities" Namespace="Microsoft.SharePoint.Utilities" Assembly="Microsoft.SharePoint, Version=15.0.0.0, Culture=neutral, PublicKeyToken=71e9bce111e9429c" %>
<%@ Import Namespace="Microsoft.SharePoint" %>
<%@ Assembly Name="Microsoft.Web.CommandUI, Version=15.0.0.0, Culture=neutral, PublicKeyToken=71e9bce111e9429c" %>
<%@ Register TagPrefix="WebPartPages" Namespace="Microsoft.SharePoint.WebPartPages" Assembly="Microsoft.SharePoint, Version=15.0.0.0, Culture=neutral, PublicKeyToken=71e9bce111e9429c" %>
<%@ Register Src="~/_controltemplates/15/RITS.COP.PFO.UI/General/HomePage/UC_Parceiros.ascx" TagPrefix="uc1" TagName="UC_Parceiros" %>
<%@ Register Src="~/_controltemplates/15/RITS.COP.PFO.UI/General/HomePage/UC_SubmitDocument.ascx" TagPrefix="uc1" TagName="UC_SubmitDocument" %>
<%@ Register Src="~/_controltemplates/15/RITS.COP.PFO.UI/General/HomePage/UC_HomeAreas.ascx" TagPrefix="uc1" TagName="UC_HomeAreas" %>
<%@ Register Src="~/_controltemplates/15/RITS.COP.PFO.UI/General/HomePage/UC_HomeSlider.ascx" TagPrefix="uc1" TagName="UC_HomeSlider" %>



<asp:Content ID="PageHead" ContentPlaceHolderID="PlaceHolderAdditionalPageHead" runat="server">
    
</asp:Content>

<asp:Content ID="Main" ContentPlaceHolderID="PlaceHolderMain" runat="server">
<uc1:UC_HomeSlider runat="server" id="UC_HomeSlider" />
<uc1:UC_HomeAreas runat="server" id="UC_HomeAreas" />
<uc1:UC_SubmitDocument runat="server" id="UC_SubmitDocument" />
<uc1:UC_Parceiros runat="server" id="UC_Parceiros" />
</asp:Content>

<asp:Content ID="PageTitle" ContentPlaceHolderID="PlaceHolderPageTitle" runat="server">
     Formação Olímpica
</asp:Content>

<asp:Content ID="PageTitleInTitleArea" ContentPlaceHolderID="PlaceHolderPageTitleInTitleArea" runat="server">
     Formação Olímpica
</asp:Content>
