/* Responsive Styles */
body.portrait .mdl-card.wide .mdl-card__image {
    	height: auto;
}
.portrait a#logged {
        text-align: center;
    }
.portrait a#jlocator-close-panel {
    margin-top: 70px;
    width: 40px;
    margin-bottom: -48px;
    color: white;
    height: 40px;
    min-width: 0;
    text-align: center;
    line-height: 1;
    padding-left: 0px;
    margin-right: 16px;
    z-index: 2;
    position: absolute;
    top: 0px;
    right: 0px;
}
.portrait a#jlocator-close-panel i {
    padding: 0px;
    font-size: 32px;
}
.portrait #jlocator-responsive-panel, .portrait #resources-responsive-panel{
	display: block;
}
a#jlocator-close-panel {
    top: 60px;
    color: white;
    float: right;
    width: 45px;
    height: 45px;
    min-width: 0;
    font-size: 36px;
    text-align: center;
    margin: auto;
    padding-left: 5px;
    right: 10px;
}


.portrait a#resources-close-panel {
    /*float: right;*/
    margin-top: 70px;
    width: 40px;
    margin-bottom: -48px;
    color: white;
    height: 40px;
    min-width: 0;
    text-align: center;
    line-height: 2;
    margin-right: 16px;
    /*position: relative;*/
    line-height: 1;
    z-index: 2;
    padding-left: 0px;
    position: absolute;
    right: 0px;
    top: 0px;
}
.portrait a#resources-close-panel i {
    padding: 0px;;
    font-size: 32px;
}
.portrait #resources-responsive-panel{
	display: block;
}
section:not(.createstuff) .portrait .filterbox {
    position: fixed;
    top: 0px;
    left: -100%;
    bottom: 0;
    overflow-y: scroll !important;
    overflow-x: hidden !important;
    padding-top: 58px;
}
a#resources-close-panel {
    top: 60px;
    color: white;
    float: right;
    width: 45px;
    height: 45px;
    min-width: 0;
    font-size: 36px;
    text-align: center;
    margin: auto;
    padding-left: 5px;
    right: 10px;
}
.portrait .filterbox .jplist-pagination {
    display: none;
}
.portrait .jplist-panel .jplist-pagination .jplist-pagingprev, .portrait .jplist-panel .jplist-pagination .jplist-pagingmid, .portrait .jplist-panel .jplist-pagination .jplist-pagingnext {
    float: none !important;
    display: inline-block !important;
    padding: 5px;
}
.portrait .jplist-panel .jplist-pagination button {
    width: 40px !important;
    height: 40px !important;
}
.portrait .jplist-grid-view .list-item .img {
    width: 100%;
    margin: 0px;
    border-radius: 0px;
}
.portrait .create-content{
    padding: 15px;
}
.portrait .buttons-published, .portrait .buttons-preview {
    position: fixed;
    top: 48px;
    left: 0px;
    width: 100%;
    z-index: 999999999999;
}
.responsive-item.login a, .responsive-item.logout input {
    width: 100%;
    float: none;
    max-width: none !important;
    color: white !important;
}
li.responsive-item.logout input {
    font-size: 11px;
}
.mobile.landscape .newsletter.col-md-4 {
     float: right;
}
.mobile div#add-comment {
    z-index: 2;
    position: relative;
}
.mobile.landscape div#configuration {
            position: relative;
            z-index: 99999;
            float: right;
            width: 100%;
            margin-bottom: 22px;
        }
.portrait div#div_backoffice_Escolas {
    /*display: none;*/
}
.portrait input#ctl00_PlaceHolderMain_UC_personalinformation_btn_PW_Submeter {
    margin: auto;
}
.portrait .form-element-container {
    padding: 7px;
}
.mobile .jplist-panel i.zmdi.zmdi-search, .mobile .jplist-panel .mdl-textfield, .mobile .jplist-panel input[type="text"] {
    width: auto !important;
}
.mobile .section-container {
    float: none;
    display: inline-block;
}
body.mobile.portrait div#contentBox {
    padding-bottom: 32px;
}
@media only screen
       and (max-width: 1228px)
    {
    	#header-slideimage-holder{
    		height: inherit;
    	}
    }
@media only screen
       and (max-width: 1320px)
    {
    	.navbar-topheader .container {
		    /*padding-right: 6%;*/
		    padding-top: 7px;
		}
    }
@media only screen /* iPad */
and (max-width : 1045px) {
    #header-slideimage-holder {
        height: 0px !important;
    }
}

    @media only screen
and (max-width : 1023px)  { 
		body{
    		padding-top: 50px;
    	}
    	.navbar-fixed-top .navbar-collapse{
    		max-height: none;
    	}
        .navbar-topheader-item.menu {
            display: none;
        }
        li.responsive-item {
		    display: block;
		    background-color: #607D8B;
		}
        .navbar-brand>img {
		    max-width: 96px;
    		margin-top: -16px;
		}
		.navbar-topheader {
			height: auto;
			display: none !important;
		}
		.navbar-brand .brand-smaller {
		    display: block !important;
		    width: 144px;
		    max-width: none;
		}
		.navbar-fixed-bottom, .navbar-fixed-top {
		    position: fixed;
		}
        .slider-container:not(.home) {
            /*margin-top: 50px;*/
        }
		a.navbar-brand {
		    position: absolute !important;
		}
		a.navbar-brand:not(.navbar-brand-smaller){
			top: -42px;
		    left: 0px;
		}
        h2:not(.mdl-card__title-text) {
            margin-bottom: 20px;
            margin-top: 10px;
        }
		/*.footer-menu ul {
		    padding-left: inherit;
		}*/
		.footer-menu ul {
			display: none;
		}
		footer .col-xs-5.copyright, footer .col-xs-7 {
			padding:inherit;
		}
		footer .social-icons {
		    text-align: center;
		    display: block;
		    position: static;
		    padding-top: 10px;
    		padding-bottom: 10px;
		}
		footer .copyright p{
			text-align: center;
		}
		.newsletter button {
			width: 100%;
		}
		.mdl-textfield {
		    width: 100% !important;
		    max-width: none;
		}
        .jplist-panel .mdl-textfield {
            width: 50% !important;
        }
		button#submit {
		    width: 100%;
		}
		div#configuration {
			top: 11px;
    		right: 20%;
    		position: fixed;
		}
		#configuration .config {
			margin-left: 30px;
		}
		.navbar-inverse .navbar-nav>li>a{
			text-align: center;
		}
		#cookie-bar {
		    position: fixed;
		    bottom: 0px;
		    background: rgba(204, 204, 204, 0.86);
		    width: 100%;
		} 
		#cookie-bar a {
		    display: table;
		    margin: 5px;
		    margin-left: 0px;
		}
    	/*.navbar-topheader .container {
		    padding-right: 70px;
		    padding-top: 7px;
		}*/
		.mdl-card__map {
		    height: 349px;
		}
		.gauge-anim-title h3.section-title {
		    width: 60%;
		}
		.filterbox .mdl-card__supporting-text {
		    padding: 0px;
		    margin-bottom: 25px;
		}
		.mdl-checkbox__label i {
		    display: none;
		}
		.thumbnails li .img-container {
		    width: 308px;
		}
		ul.thumbnails {
			text-align: center;
		}
		img.video-thumbnail {
		    width: 310px;
		}
		.video i.fa-play-circle-o {
		    margin-left: 128px;
		    margin-top: 85px;
		    display: none;
		}
		.categorybox a.mdl-button {
		    display: inline;
		    font-size: 10px;
		}
		.navbar-header {
	        float: none;
	    }
	    .navbar-left,.navbar-right {
	        float: none !important;
	    }
	    .navbar-toggle {
	        display: block;
	    }
	    .navbar-collapse {
	        border-top: 1px solid transparent;
	        box-shadow: inset 0 1px 0 rgba(255,255,255,0.1);
	    }
	    .navbar-fixed-top {
	        top: 0;
	        border-width: 0 0 1px;
	    }
	    .navbar-collapse.collapse {
	        display: none!important;
	    }
	    .navbar-nav {
	        float: none!important;
	        /*margin-top: 7.5px;*/
	    }
	    .navbar-nav>li {
	        float: none;
	    }
	    .navbar-nav>li>a {
	        padding-top: 10px;
	        padding-bottom: 10px;
	    }
	    .collapse.in{
	        display:block !important;
	    }
	    .breadcrumb {
		    position: relative;
		    top: 16px;
		}
		#menu-collapse .container {
		    width: 100%;
		    margin: 0;
		    padding: 0;
		}
		.gauge-anim-title h3.section-title {
		    line-height: 1.3;
		    height: 56px;
		    vertical-align: middle;
		}
		.calltoaction {
		    margin-top: 14px;
		}
		.container #filtered-content .row {
			margin-bottom: 0px;
		}
        li.selected a {
            border-top: none;
        }
        li.selected {
            border-left: solid 25px white;
            padding-right: 25px;
        }
        .jplist-panel .jplist-pagination .jplist-pagingprev, .jplist-panel .jplist-pagination .jplist-pagingmid, .jplist-panel .jplist-pagination .jplist-pagingnext {
            float: none;
            display: inline-block;
        }
        .mobile.landscape div#configuration {
            top: 11px;
            right: 20%;
            position: fixed !important;
        }
}

 @media only screen /* iPad */
and (max-width : 768px)  { 
		.portrait .mdl-card {
		    margin-bottom: 10px;
		}
		.portrait .row {
			margin-bottom: 0px;
		}
		.portrait a.mdl-button {
		    margin-bottom: 10px;
		}
		.portrait .tp-caption h2 {
	    	margin: 0px;
		}
		.portrait .mdl-card.wide .mdl-card__image {
		    /*height: auto;*/
		}
		.portrait .mdl-card__image {
		    /*height: 312px;*/
		}
		.portrait button#submit {
		    position: fixed;
		    bottom: 0px;
		    left: 0px;
		    z-index: 3;
		}
		.portrait #newsletter-subscription button#submit {
			position: static;
		}
		.portrait .navbar-brand .brand-smaller {
		width: 120px;
	}
	.portrait .tp-caption h2 {
	    font-size: 18px !important;
        font-size: 5.4vw !important;
	    float: none;
	    display: block;
	    margin: 0;
        line-height: 1.4 !important;
	}
	.portrait .slider-container a {
	    margin: 0px !important;
	    padding: 5px !important;
	    line-height: 1.4;
	    font-size: 12px;
	    height: auto;
	    display: none;
	}
	.portrait .head-description h1{
		font-size: 15px;
	}
	.portrait .head-description p {
    	font-size: 12px;
	}
	.portrait .tp-caption.Newspaper-Title {
	    display: none;
	}
	.portrait .tp-caption.Newspaper-Subtitle {
	    font-size: 16px !important;
	    width: 250px;
	    white-space: normal !important;
	    line-height: 1.5 !important;
	}
	.portrait .mdl-card {
	    margin-bottom: 10px;
	}
	.portrait #filtered-content .row {
	    margin-bottom: 0px;
	}
	.portrait .mdl-card__supporting-text {
    	/*height: auto;*/
    }
    .portrait h3.mdl-card__title-text {
    	font-size: 16px;
	}
	.portrait .mdl-card__image {
	    /*height: auto;*/
	}
	.portrait #share {
	    float: none;
	    text-align: center;
	}
	.portrait .mdl-button {
	    width: 100%;
	}
	.portrait .footer-menu .copyright a {
	    display: block;
	}
	.portrait .mdl-checkbox {
		height: auto;
	}
	.portrait .slider-container h1.page-header {
	    font-size: 1.8em !important;
	    margin: 0;
	    line-height: 1;
	    margin-top: 30px;
	}
	.portrait h2 {
	    font-size: 22px;
	}
	.portrait .slider-text {
	    display: none;
	}
	.portrait .slider-title {
	    max-width: 260px;
	    text-overflow: ellipsis;
	    overflow: hidden;
	    width: 100%;
	}
	.portrait div:not('#rev_slider_home_hangouts').tp-parallax-wrap {
	    left: 18px !important;
	    position: absolute !important;
	}
	.portrait .tp-parallax-wrap .mdl-button {
		height:auto;
		font-size:20px;
	}
	.portrait #rev_slider_values .tp-caption i {
	    display: none;
	}
	.portrait .tp-caption.tp-shape.tp-shapewrapper {
	    display: none;
	}
	.portrait #jlocator .drop-down, #jlocator .filter input {
	    display: none;
	}
	.portrait #jlocator > .panel {
		height: auto;
	}
	.portrait #jlocator .panel {
	    position: fixed;
	    left: -100%;
	    top: 0px;
	    z-index: 2;
	    box-shadow: 2px 5px 5px gray;
	    height: 100%;
	    background-color: rgba(255, 255, 255, 0.82);
        padding-top: 48px;
	}
    .portrait jlocator i.zmdi-search, #jlocator .mdl-textfield {
        display: flex;
    }
    .portrait #jlocator .mdl-textfield__input {
        max-width: 200px;
    }
	/*#jlocator .stores.box {
	    height: 100%;
	}*/
	.portrait #jlocator .map {
		width: 100%;
	    height: 300px;
	}
	.portrait .contact-map {
	    height: 300px;
	    overflow: hidden;
	}
	.portrait .g-recaptcha {
	    /*margin-left: -21px;*/
	}
	.portrait h2.error {
	    font-size: 100px;
	    text-align: center;
	    padding: 0px;
	    margin-bottom: 48px;
        font-size: 7em !important;
	}
	.portrait .error i {
	    margin-top: 26px;
	    margin-left: -98px;
	}
	.portrait .mdl-card__map{
		height: auto;
	}
	.portrait ul.wysihtml5-toolbar {
	    display: none !important;
	}
	.portrait a.external-links {
	    display: block;
	    text-align: center;
	    paddding: 0px;
	}
	.portrait .commentbox {
	    margin: 0;
	    margin-bottom: 20px;
	}
	.portrait h3.section-title {
    	text-align: center;
	}
	.portrait button#add-comment {
	    margin-bottom: 40px;
	}
	.portrait #cookie-bar a {
	    float: left;
	    display: block;
	    width: 100%;
	    text-align: center;
	    margin: 5px;
	}
   .portrait .mdl-button {
        margin-bottom: 20px;
    }
   .portrait .jplist-grid-view .list-item {
        width: 100%;
    }
   .portrait .jplist .mdl-card__image img {
        width: 100% !important;
        height: auto;
    }
   .portrait .jplist .list .list-item {
       margin-bottom: 34px;
   }
   .portrait .list-item a.mdl-js-button {
        display: inline;
    }
   .portrait a.tags-show {
        padding: 8px 0px 5px 14px;
        text-align: center;
    }
   .portrait .tags-shower {
        float: none;
    }
   .portrait .tag-holder {
        border: none;
    }
   .portrait .jplist-panel.box.panel-bottom {
        text-align: center;
    }
   .portrait .jplist-panel .jplist-pagination .jplist-pagingprev, .jplist-panel .jplist-pagination .jplist-pagingmid, .jplist-panel .jplist-pagination .jplist-pagingnext {
        float: none;
        display: table-cell;
        vertical-align: top;
    }
   .portrait .jplist-panel .jplist-pagination {
        float: none !important;
        text-align: center;
        width: 100%;
        display: inline-table;
    }
   .portrait .mdl-card .jplist 
   .jplist-panel .mdl-textfield {
        width: 100px !important;
    }

   .portrait a#jlocator-close-panel {
        margin-top: 70px;
        width: 40px;
        margin-bottom: -48px;
        color: white;
        height: 40px;
        min-width: 0;
        text-align: center;
        line-height: 1;
        padding-left: 0px;
        margin-right: 16px;
        z-index: 2;
        position: absolute;
        top: 0px;
        right: 0px;
    }
    .portrait a#jlocator-close-panel i {
        padding: 0px;
        font-size: 32px;
    }
    .portrait #jlocator-responsive-panel, .portrait #resources-responsive-panel{
	    display: block;
    }
    .portrait a#resources-close-panel {
        /*float: right;*/
        margin-top: 70px;
        width: 40px;
        margin-bottom: -48px;
        color: white;
        height: 40px;
        min-width: 0;
        text-align: center;
        line-height: 2;
        margin-right: 16px;
        /*position: relative;*/
        line-height: 1;
        z-index: 2;
        padding-left: 0px;
        position: absolute;
        right: 0px;
        top: 0px;
    }
    .portrait a#resources-close-panel i {
        padding: 0px;;
        font-size: 32px;
    }
    .portrait #resources-responsive-panel{
	    display: block;
    }
    .portrait section:not(.createstuff) .filterbox {
        position: fixed;
        top: 0px;
        left: -100%;
        bottom: 0;
        overflow-y: scroll !important;
        overflow-x: hidden !important;
        padding-top: 58px;
    }
    .portrait .filterbox .jplist-pagination {
        display: none;
    }
    .portrait .jplist-panel .jplist-pagination .jplist-pagingprev, .portrait .jplist-panel .jplist-pagination .jplist-pagingmid, .portrait .jplist-panel .jplist-pagination .jplist-pagingnext {
        float: none;
        display: inline-block;
    }
    .portrait .container.sendmessage {
        text-align: center;
    }
    .portrait .search-results .col-md-4.mdl-list__item {
        margin: auto;
        text-align: center;
    }
    .portrait .search-results .mdl-switch {
        width: auto;
        display: block;
        position: relative;
        left: 50%;
        margin-left: -20px;
        margin-bottom: 30px;
    }
    .portrait .action label {
            position: relative;
            top: -11px;
     }
}
@media only screen
and (max-device-height : 560px) {
    #jlocator .controls {
        max-height: 50%;
    }
    #jlocator .cb-group-filter {
        margin-top: -11px;
        margin-bottom: 18px;
    }
    .paging.left {
        float: right;
        position: relative;
        top: -54px;
    }
    .container.sendmessage {
        text-align: center;
    }

}
@media only screen  /*iPad in landscape*/
and (min-device-width : 768px) 
and (max-device-width : 1024px) 
and (orientation : landscape) {
    .jplist-drop-down .jplist-dd-panel:after {
        right: 25px !important;
    }
	#resources-responsive-panel{
		display:none;
	}
    .slider-container h1.page-header {
        font-size: 40px;
    }
	section:not(.createstuff) .filterbox {
		position: static;
		overflow: auto;
		padding: inherit;
	}
    .footer-menu ul {
		display:block;
	}
	footer .social-icons {
		float: left;
	}
	.col-lg-5.copyright {
		float: left;
	}
	footer .copyright p, footer .copyright a {
		display: inline-block;
		float: right;
	}
    div#header-slideimage-holder {
        height: 415px !important;
    }
    .mdl-card__map {
        height: 348px;
    }
    .newsletter .container {
        float: right;
    }
    .gauge-anim-title h3.section-title {
        width: 60%;
    }
    .jplist-grid-view .list-item {
        min-width: 288px !important;
    }
    .jplist-drop-down {
        margin-bottom: 40px !important;
    }
    .jplist-drop-down li {
        line-height: 3;
    }
    .txt-right.newsletter.col-md-4 {
        float: right;
    }
}

@media only screen 
and (min-device-width : 768px) 
and (max-device-width : 1024px) 
and (orientation : portrait) { 

.portrait a#jlocator-close-panel {
    margin-top: 70px;
    width: 40px;
    margin-bottom: -48px;
    color: white;
    height: 40px;
    min-width: 0;
    text-align: center;
    line-height: 1;
    padding-left: 0px;
    margin-right: 16px;
    z-index: 2;
    position: absolute;
    top: 0px;
    right: 0px;
}
.portrait a#jlocator-close-panel i {
    padding: 0px;
    font-size: 32px;
}
.portrait #jlocator-responsive-panel, .portrait #resources-responsive-panel{
	display: block;
}
a#jlocator-close-panel {
    top: 60px;
    color: white;
    float: right;
    width: 45px;
    height: 45px;
    min-width: 0;
    font-size: 36px;
    text-align: center;
    margin: auto;
    padding-left: 5px;
    right: 10px;
}

 }

.ipad .mdl-textfield.is-focused .mdl-textfield__expandable-holder, .ipad .mdl-textfield.is-dirty .mdl-textfield__expandable-holder {
    display: -webkit-inline-box;
}

@media only screen and (max-device-width :500px) {
    #div_backoffice_Settings {
        display: none;
    }
    #configuration {
        top: 11px;
        right: 0 !important;
        position: fixed;
        margin-right: 100px;
    }
}

@media only screen and (max-width :330px) {
    #div_backoffice_Settings, #div_backoffice_Escolas {
        display: none;
    }
}