/****************************** ICONS ******************************/

.fa.medal {
    background-image:url(../../../Style%20Library/cop/imgs/icons/medal.svg);
}
.fa.medal-gray {
    background-image:url(../../../Style%20Library/cop/imgs/icons/medal-gray.svg);
}
.fa.hangouts {
    background-image:url(../../../Style%20Library/cop/imgs/icons/hangouts.svg);
}
.fa.hangouts-gray {
    background-image:url(../../../Style%20Library/cop/imgs/icons/hangouts-gray.svg);
}
.fa.school {
    background-image:url(../../../Style%20Library/cop/imgs/icons/school.svg);
}
.fa.school-gray {
    background-image:url(../../../Style%20Library/cop/imgs/icons/school-gray.svg);
}
/****************************** END OF ICONS ******************************/


/****************************** SLIDER *******************************/

.tp-loader.spinner0 {
    background:url('../imgs/icons/loader.gif') no-repeat center center;
}

@font-face {
  font-family: 'revicons';
  src: url('../../../Style%20Library/cop/fonts/revicons/revicons.eot'); /* IE9 Compat Modes */
  src: url('../../../Style%20Library/cop/fonts/revicons/revicons.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
       url('../../../Style%20Library/cop/fonts/revicons/revicons.woff2') format('woff2'), /* Super Modern Browsers */
       url('../../../Style%20Library/cop/fonts/revicons/revicons.woff') format('woff'), /* Pretty Modern Browsers */
       url('../../Style%20Library/cop/fonts/revicons/revicons.ttf')  format('truetype'), /* Safari, Android, iOS */
       url('../../../Style%20Library/cop/fonts/revicons/revicons.svg#revicons') format('svg'); /* Legacy iOS */
}

/****************************** END OF SLIDER ******************************/

