/* Global Styles */
html, body {
    margin:0;
    padding: 0;
}
body {
    overflow-x:hidden;
}
html, body, h1, h2, h3, h4, h1 small, h2 small, h3 small, h4 small, h5 small, h6 small {
    font-family: 'Lato', sans-serif !important;
}
h2:not(.mdl-card__title-text) {
    font-size: 45px !important;
    font-size: 2vw !important;
    line-height: 48px !important;
}
a {
    color:#007BB1;
}
a:hover, .navbar-inverse .navbar-nav>li>a:focus, .navbar-inverse .navbar-nav>li>a:hover, .navbar-inverse .navbar-nav>li>a.selected {
    color:#c1272d;
}
.txt-left {
    text-align: left !important;
}
.txt-center {
    text-align: center !important;
}
.txt-right {
    text-align: right !important;
}
.container .row {
    margin-bottom: 15px;
}
div#menu-collapse {
    background-color: #424242;
    position: relative;
}
#menu-collapse.fixed {
    position: fixed !important;
    top:0;
    width: 100%;
    background-color: #424242;
}
.float-left {
    float: left;
}
.float-right {
    float: right;
}
.fixed {
    position: fixed;
}
.ellipsis {
	white-space: nowrap;
	overflow: hidden;
}

.ellipsis.multiline {
	white-space: normal;
}
.introtext, .titleContent, .contenttext, .mdl-card__supporting-text p {
    overflow: hidden;
    text-overflow: ellipsis;
}
/****************************** COLORS ******************************/
.bg-green {
    background-color: #009C63;
}
.bg-green-dark {
    background-color: #9ACA65;
}
.bg-red {
    background-color: #E4334E;
}
.bg-red-dark {
    background-color: #801727;
}
.bg-blue {
    background-color: #008DCF;
}
.bg-blue-dark {
    background-color: #043943;
}
.bg-orange {
    background-color: #F2A832;
}
.bg-red {
    background-color: #c1272d;
}
.bg-red-dark {
    background-color: #771d0e;
}
.bg-pink {
    background-color: #ff0031;
}
.txt-orange {
    color:#F2A832;
}
.bg-gray {
    background-color: #565656;
}
.bg-gray-dark {
    background-color: #3A3A3A;
}
.bg-gray-blue-dark{
    background-color: #607D8B;
}
.txt-gray-dark {
    color: #3A3A3A;
}
.bg-gray-medium{
    background-color: #969696;
}
.bg-gray-light{
    background-color: #EFEFEF;
}
.bg-gray-lighter{
    background-color: #F9F9F9;
}
.txt-white {
    color: white;
}
/****************************** END OF COLORS ******************************/

/****************************** HEADER ******************************/
li.responsive-item {
    display: none;
}
#configuration .config {
    float: right;
    margin-left: 10px;
}
div#configuration {
    position: fixed;
    top: 12px;
    right: 12px;
    z-index: 99999;
}
#configuration a {
    width: 32px;
    height: 32px;
    display: block;
    min-width: 0;
    line-height: 1.4;
    border-radius: 100%;
    color: #008DCF;
    background-color: #EFEFEF;
}
#configuration a:hover {
    background-color: #c1272d;
}
#configuration i {
    font-size: 24px;
    line-height: 1.4;
}
#configuration i.zmdi.zmdi-notifications {
    position: relative;
    left: 8px;
}
#configuration .mdl-badge[data-badge]:after {
    top: -25px;
    background: #E4334E;
    border: solid 2px white;
    width: 28px;
    height: 28px;
    opacity: 0.9;
}
#configuration .mdl-badge.emptybadge[data-badge]:after {
    display: none;
}
#configuration a.selected {
    background: #c1272d;
}
#configuration .config button, #configuration .config a {
    height: 30px;
    line-height: 1;
}
.config-container {
    border: solid 1px #c1c1c1;
    float: right;
    border-radius: 3px;
    background: #ddd;
    line-height: 26px;
    padding: 5px;
    box-shadow: 0 5px 5px -3px gray;
    height: 42px;
}
#configuration i.fa.fa-user {
    font-size: 14px;
    color: gray;
    padding-right: 10px;
}
#configuration button {
    color: #008DCF !important;
    background-color: #EFEFEF;
}
#configuration button:hover {
    color: white !important;
    background-color: #EFEFEF;
}
a#notifications {
    box-shadow: 0 1px 1.5px 0 rgba(0,0,0,.12),0 1px 1px 0 rgba(0,0,0,.24);
}
#nav .navbar {
    margin-bottom: 0px;
}
.navbar-inverse .navbar-brand {
    position: relative;
    z-index: 2;
}
.navbar-brand>img {
    max-width: 162px;
    margin-top: -29px;
    transition: all 0.5s ease;
}
.navbar-brand-smaller img.brand-smaller{
    margin-top: -5px;
    box-shadow: 0 2px 2px 0 rgba(0,0,0,.14),0 3px 1px -2px rgba(0,0,0,.2),0 1px 5px 0 rgba(0,0,0,.12);
}
.navbar-inverse {
    background-color: #007BB1;
    border: none;
    box-shadow: 0 2px 2px 0 rgba(0,0,0,.14),0 3px 1px -2px rgba(0,0,0,.2),0 1px 5px 0 rgba(0,0,0,.12);
}
.navbar-topheader {
    background-color: #FAFAFA;
    transition: all 0.5s ease;
    min-height: 156px;
}
.navbar-collapse a {
    color: white !important;
    text-transform: uppercase;
    font-size: 80%;
}
.social-icons, .login-area {
    display: inline-block;
    /*margin-left: 12px;*/
}
a#logged {
    max-width: 198px;
    overflow: hidden;
    text-overflow: ellipsis;
    width: auto;
    text-align: left;
    white-space: pre;
}
.navbar-fixed-bottom, .navbar-fixed-top {
    position: relative;
}
.navbar-topheader li {
    border-right: solid 1px #ccc;
    margin-top: 8px;
}
.navbar-topheader li:last-child {
    border:none;
}
.navbar-topheader li a {
    line-height: 0.1;
    font-size: 11px;
    padding-top: 10px;
    padding-bottom: 10px;
}
.page-header small{
    color:white;
}
.breadcrumb {
    background: none;
    padding-left: 0px;
    font-size: 11px;
}
.item.formations {
    background-color: #043943;
}
.item.publications {
    background-color: #008DCF;
}
.item.copawards {
    background-color: #F2A832;
}
.item.highlights {
    background-color: #E4334E;
}
.item.agenda {
    background-color: #009C63;
}
.topheader-sub-menu {
    margin-left: 10px;
    margin-top: 8px;
}
.topheader-sub-menu a {
    color: #9e9e9e;
    text-decoration: none;
}
.navbar-topheader-bar {
    background: #c1272d;
    color: white;
    text-transform: uppercase;
    line-height: 2.5;
    width: 100%;
    padding-left: 382px;
    position: relative;
    /*top: -11px;*/
    font-size: 18px;
    font-weight: 200;
    letter-spacing: 1px;
}
.navbar-topheader-bar.fixed {
    position: fixed;
    top: 50px;
}
/****************************** END OF HEADER ******************************/

/****************************** MENU ******************************/
.collapse.navbar-collapse .nav li:hover {
    background-color: #c1272d;
    transition: all 0.5s ease;
}
li.selected a {
    border-top: solid 2px white;
    padding-bottom: 13px;
}
/****************************** END OF MENU ******************************/

/****************************** FORMS ******************************/
.mdl-textfield__input {
    border-bottom: 2px solid rgba(0,0,0,.12);
}
label.mdl-textfield__label, .mdl-textfield__input{
    color: #3a3a3a;
}
textarea + label.mdl-textfield__label {
    margin-top: -24px;
}
.mdl-textfield.is-disabled .mdl-textfield__input, .mdl-textfield.is-disabled.is-disabled .mdl-textfield__label, .mdl-textfield--floating-label.is-focused .mdl-textfield__label, .mdl-textfield--floating-label.is-dirty .mdl-textfield__label {
    color: #A0A0A0;
}
.is-focused.mdl-textfield--floating-label.is-invalid .mdl-textfield__label, .is-focused label.mdl-textfield__label {
    color: #A0A0A0;
    font-size: 12px;
}
.mdl-textfield__label:after {
    background-color: #c1272d;
}
.mdl-textfield.is-invalid .mdl-textfield__input {
    border-color: rgba(0,0,0,.12);
}
.mdl-textfield.is-invalid .mdl-textfield__label:after {
    background-color: #c1272d;
}
label.mdl-checkbox.form-page {
    height: auto;
}
label.mdl-checkbox.form-page p {
    line-height: 1.4;
    font-size: 13px;
}
.contact-form .mdl-textfield {
    width: 100%;
}
.modal-opened .mdl-textfield {
    width: 300px;
}
.contact-form select {
    margin-top: 6px;
}
.sendmessage p i {
    padding-right: 5px;
    color: gray;
}
form small {
    font-size: 10px;
    /*position: absolute;*/
}
.mdl-textfield--floating-label.is-invalid .mdl-textfield__label {
    color: inherit;
    font-size: inherit;
}
.input_fields_wrap .mdl-textfield a {
    position: absolute;
}
form button.mdl-button--fab {
    width: 30px !important;
    height: 30px !important;
    min-width: 0;
    color: white !important;
}
.form-element {
    display: block;
    /*padding-bottom: 56px;*/
    float: left;
}
.form-element.cloned {
    border-bottom: dashed 1px #C5C5C5;
    margin-bottom: 15px;
    margin-top: 15px;
}
a.remove_field {
    display: block;
    cursor: pointer;
}
.form-element.mdl-textfield .mdl-button {
    position: static;
}
/* form .row {
    margin: auto;
}*/
form label i, form label fa {
    width: 30px !important;
    text-align: center;
    background-position: center center;
}
.form-container {
    margin-bottom: 14px;
}
.form-container div {
    width: 100%;
}
.form-container button {
    z-index: 3;
    position: absolute;
    right: 0;
    bottom: 32px;
}
form .mdl-textfield {
    width: 100%;
}
label.richtext.mdl-textfield__label {
    margin-top: -30px;
}
.richtext.textarea {
    overflow: hidden;
    min-height: 150px;
}
.richtext p {
    margin: auto;
}
a.btn.btn-default[data-wysihtml5-command="insertImage"], a.btn.btn-default[data-wysihtml5-command="createLink"] {
    display: none;
}
button#submit-recov {
    margin-right: 25px;
}
button.searchsubmitbt i {
    font-size: 15px;
    vertical-align: middle;
}
button.searchsubmitbt, #searchfield .mdl-textfield {
    display: inline;
    vertical-align: bottom;
    margin-top: 42px;
}
button.searchsubmitbt {
    /*pointer-events: none;*/
    opacity: 0.4;
    position: relative;
    top: -9px;
}
.mdl-textfield.mdl-js-textfield.is-dirty + button.searchsubmitbt {
    opacity: 1;
    /*pointer-events: all;*/
}
.alert {
    margin-top: 12px;
    font-size: 15px;
}
.alert.searching {
    position: static;
    min-height: 52px;
}
.alert-success:before {
    content: "\f046";
    font: normal normal normal 14px/1 FontAwesome;
    padding-right: 10px;
}
.alert-success {
    font-weight: bold;
}
.login-container .alert {
    position: static;
    box-shadow: none;
}
a.close {
    margin-left: 10px;
}
.add_field_button {
    /*margin-bottom: 20px;*/
    margin-bottom: -20px;
}
h4.section-title.addelements {
    margin-top: 70px;
}
.form-element-container.mdl-card {
    margin-bottom: 25px;
    padding-bottom: 10px;
}
.form-element label.mdl-textfield__label {
    max-height: 62px;
}
.fileup {
   padding-bottom: 30px;
   float: left;
}
.requiredthis {
    display: none !important;
}
input#content_text_counter {
    border: none;
    color: gray;
    text-align: right;
    width: 100%;
    display: none;
}
input[type=file] {
    text-overflow: ellipsis;
    overflow: hidden;
    max-width: 100%;
    color: gray;
    font-weight: 300;
}
.create-content .foruploads {
    padding: 0px;
}
.changepw input[type="submit"] {
    margin-top: 50px;
    max-width: 200px;
}
.mdl-textfield.is-dirty .description.mdl-textfield__label {
    visibility: visible;
    top: 2px;
    color: #A0A0A0;
    font-size: 12px;
    -webkit-transition: all 0.3s cubic-bezier(0.64, 0.09, 0.08, 1);
    -moz-transition: all 0.3s cubic-bezier(0.64, 0.09, 0.08, 1);
    -o-transition: all 0.3s cubic-bezier(0.64, 0.09, 0.08, 1);
    transition: all 0.3s cubic-bezier(0.64, 0.09, 0.08, 1);
}
.Preview .section-container {
    display: block !important;
}
/* ==========  Select Field Variables ========== */
$color-black: "0,0,0";
$select-background-color: transparent;
$select-border-color: unquote("rgba(#{$color-black}, 0.12)") !default;
$select-font-size: 16px;
$select-color: unquote("rgba(#{$color-black}, 0.26)") !default;
$select-padding: 4px;

/* ==========  Select Field ========== */

/* Style Select Field */
select {
  font-family: inherit;
  background-color: transparent;
  width: 100%;
  padding: $select-padding 0;
  font-size: $select-font-size;
  color: $select-color;
  border: none;
  border-bottom: 1px solid $select-border-color;
}

/* Remove focus */
select:focus {
  outline: none}

/* Hide label */
.mdl-selectfield label {display: none;}
/* Use custom arrow */
.mdl-selectfield select {appearance: none}
.mdl-selectfield {
  font-family: 'Roboto','Helvetica','Arial',sans-serif;
  position: relative;
    &:after {
        position: absolute;
        top: 0.75em;
        right: 0.5em;
        /* Styling the down arrow */
        width: 0;
        height: 0;
        padding: 0;
        content: '';
        border-left: .25em solid transparent;
        border-right: .25em solid transparent;
        border-top: .375em solid $select-border-color;
        pointer-events: none;
    }
}
/****************************** END OF FORMS ******************************/

/****************************** LOGIN ******************************/
/* Card */
/*.card {
    position: relative;
    overflow: hidden;
    background-color: white;
    box-shadow: 
        0 1px 3px 0 rgba(0, 0, 0, 0.24), 
        0 1px 2px 0 rgba(0, 0, 0, 0.12);
    border-radius: 2px;
    
    padding: 1em;

    h3 {
        font-weight: bold;
    }
}*/

.card{

}

/* Material Design Form Inputs */
.form {}

.form__wrapper {
    overflow: hidden;
    position: relative;
    z-index: 1;
    display: inline-block;
    margin-bottom: 1.6rem;
    width: 100%;
    vertical-align: top;
}

.form__wrapper--submit {
    padding: 1.6rem 0;
}

.form__input {
    display: block;
    position: relative;
    margin-top: 1em;
    padding: 0.84em 0;
    width: 100%;
    box-sizing: border-box;
    color: #444;
    font-size: 1.6rem;
    outline: 0;
    //background: transparent;
    border: none;

    border-bottom: solid 1px #ddd;
    -webkit-transition: all 0.3s cubic-bezier(0.64, 0.09, 0.08, 1);
       -moz-transition: all 0.3s cubic-bezier(0.64, 0.09, 0.08, 1);
         -o-transition: all 0.3s cubic-bezier(0.64, 0.09, 0.08, 1);
            transition: all 0.3s cubic-bezier(0.64, 0.09, 0.08, 1);

    background: -webkit-linear-gradient(top, rgba(255, 255, 255, 0) 96%, #2196f3 4%);
    background: linear-gradient(to bottom, rgba(255, 255, 255, 0) 96%, #2196f3 4%);
    background-position: -400px 0;
    background-size: 400px 100%;
    background-repeat: no-repeat;
    
    /**
     * Remove default box-shadow for required pseudo classes 
     */
    &:required {
        box-shadow: none;
    }
    
    /**
     *  When input contain a class of .error 
     */
    &.error {
        -webkit-transition: all 0.3s cubic-bezier(0.64, 0.09, 0.08, 1);
           -moz-transition: all 0.3s cubic-bezier(0.64, 0.09, 0.08, 1);
             -o-transition: all 0.3s cubic-bezier(0.64, 0.09, 0.08, 1);
                transition: all 0.3s cubic-bezier(0.64, 0.09, 0.08, 1);

        background: -webkit-linear-gradient(top, rgba(255, 255, 255, 0) 96%, #f44336 4%);
        background: linear-gradient(to bottom, rgba(255, 255, 255, 0) 96%, #f44336 4%);
        background-position: 0 0;
        background-size: 400px 100%;
        background-repeat: no-repeat;
    }

    &:focus {
        background-position: 0 0;
        color: #444;

        -webkit-transition: transform 0.3s cubic-bezier(0.64, 0.09, 0.08, 1);
           -moz-transition: transform 0.3s cubic-bezier(0.64, 0.09, 0.08, 1);
             -o-transition: transform 0.3s cubic-bezier(0.64, 0.09, 0.08, 1);
                transition: transform 0.3s cubic-bezier(0.64, 0.09, 0.08, 1);
    } 
}

/* Form Label */
.form__label {
    position: absolute;
    bottom: 0;
    left: 0;
    padding: 0;
    width: 100%;
    height: calc(100% - 1em);
    text-align: left;
    pointer-events: none;
    color: #999;
}

/* Form Label Content */
.form__label-content {
    position: absolute;

    -webkit-transition: transform 0.3s cubic-bezier(0.64, 0.09, 0.08, 1);
       -moz-transition: transform 0.3s cubic-bezier(0.64, 0.09, 0.08, 1);
         -o-transition: transform 0.3s cubic-bezier(0.64, 0.09, 0.08, 1);
            transition: transform 0.3s cubic-bezier(0.64, 0.09, 0.08, 1);
}

/**
 * 1. When input is focused move the label to top
 * 2. when the input field has a value move the label to top
 */
.form__input:focus ~ .form__label .form__label-content,
.form--filled .form__label-content {
    font-size: 1.4rem;
    -webkit-transform: translate3d(0, -65%, 0);
       -moz-transform: translate3d(0, -65%, 0);
            transform: translate3d(0, -65%, 0);
}

/**
 * Error Styles
 * .error class generated by jquery.validate.min.js plugin
 */
label.error, .label.error {
    font-size: 12px;
    color: #E4334E !important;
    display: block;
    font-weight: lighter;
    text-align: left;
    position: absolute;
    font-weight: bold;
}
.label.error {
    white-space: normal;
}
label#content_text_counter-error {
    right: 8px;
    margin-top: -6px;
}
#checks-error {
    position: static;
    padding-left: 0px;
    font-size: 12px;
    color: #E4334E !important;
    display: block;
    font-weight: bold;
    text-align: left;
}

/* Modal Styles */

/* Close icon style for model */
.modal-opened{
    display: none;
    position: absolute;
    bottom: 0px;
    width: 100%;
    left: 0;
}
.login-container {
    max-width: 400px;
    text-align: center;
    margin: auto;
    padding: 14px
}
a.modal--close.modal__toggle {
    position: absolute;
    right: 8px;
    font-size: 24px;
}
.mdl-card.bg-gray-light.modal-opened {
    padding-top: 6px;
    height: 100%;
}
/****************************** END OF LOGIN ******************************/

/****************************** SOCIAL ICONS ******************************/
.fa.icon {
    width: 20px;
    height: 20px;
    background-repeat: no-repeat;
}
.social-icons {
    margin-top: 6px;
}
a.social-icon {
    color: white;
    background: #007BB1;
    width: 28px;
    border-radius: 100%;
    height: 28px;
    display: inline-block;
    text-align: center;
    line-height: 2;
}
a.social-icon:hover {
    background:#c1272d;
}
.social-icons .mdl-button--fab {
    width: 28px !important;
    height: 28px !important;
    border-radius: 100%;
    min-width: inherit;
}
.social-icons .mdl-button--fab i {
    font: normal normal normal 18px/1 FontAwesome;
}
.social-icons .mdl-button.mdl-button--colored {
    color:white;
    line-height: 1;
}
#share {
    float: right;
    margin-top: 20px;
}
#share .reghere {
    /*font-family: 'Indie Flower', cursive;
    color: gray;
    -webkit-transform: rotate(344deg);
    -moz-transform: rotate(344deg);
    -o-transform: rotate(344deg);
    writing-mode: lr-tb;*/
    color: gray;
    border-bottom: dashed 1px;
}
/****************************** END OF SOCIAL ICONS ******************************/

/****************************** ICONS ******************************/

.fa.icon {
    width: 20px;
    height: 20px;
    background-repeat: no-repeat;
}
/****************************** END OF ICONS ******************************/

/****************************** BUTTONS ******************************/
.mdl-button--accent.mdl-button--accent.mdl-button--raised, .mdl-button--accent.mdl-button--accent.mdl-button--fab, .mdl-button--fab.mdl-button--colored {
    background-color: #c1272d;
    color: white;
}
.mdl-button--accent.mdl-button--accent.mdl-button--raised:hover, .mdl-button--accent.mdl-button--accent.mdl-button--fab:hover, .mdl-button--fab.mdl-button--colored:hover {
    background-color:#fb5f65 !important;
    color: white !important;
}
.mdl-button--accent.mdl-button--accent.mdl-button--raised.bg-green, .mdl-button--accent.mdl-button--accent.mdl-button--fab.bg-green, .mdl-button--fab.mdl-button--colored.bg-green {
    background-color:#009C63;
}
.mdl-button--accent.mdl-button--accent.mdl-button--raised.bg-gray, .mdl-button--accent.mdl-button--accent.mdl-button--fab.bg-gray, .mdl-button--fab.mdl-button--colored.bg-gray {
    background-color: #565656;
}
.mdl-button--accent.mdl-button--accent.mdl-button--raised.bg-orange, .mdl-button--accent.mdl-button--accent.mdl-button--fab.bg-orange, .mdl-button--fab.mdl-button--colored.bg-orange {
    background-color:#F2A832;
}
.mdl-button--raised.mdl-button .fa, .mdl-button--raised.mdl-button i, .mdl-card__actions .mdl-js-button .fa, .mdl-card__actions .mdl-js-button i{
    position: relative;
    left: -6px;
}
.mdl-button.mdl-button--colored {
    color: #c1272d;
    text-decoration: none;
}
#searchfield .mdl-button {
    line-height: 0.6;
}
a.mdl-button {
    text-decoration: none;
}
.mdl-button {
    font-family: 'Lato', sans-serif !important;
}
#resources-responsive-panel, #jlocator-responsive-panel {
    display: none;
}
.bt-addmore {
    float: right;
    width: 30px !important;
    height: 30px;
    min-width: 0;
    color: white !important;
    margin-top: 20px;
    position: relative;
    left: 14px;
}
.bt-removethis, .bt-clearthis, .remove_field, .bt-clearthislink {
    float: left;
    width: auto !important;
    margin-top: 20px;
}
button#addprof {
    z-index: 3;
    top: -26px;
}
button#refresh {
    margin-top: 5px;
}
.container.Publicado .buttons-preview {
    display: none;
}
.container.Preview .buttons-published {
    display: none;
}
button#edit-button {
    width: 100%;
}
button#edit-button, button.forReview.mdl-button.mdl-js-button.mdl-button--raised.mdl-js-ripple-effect.mdl-button--accent.bg-green.bt-refresh {
    background-color: #41C097;
    margin-bottom: 5px;
}
/****************************** END OF BUTTONS ******************************/

/****************************** FIELDS ******************************/
#searchfield {
    height: 20px;
    display: block;
    width: 100%;
    float: right;
}
/****************************** END OF FIELDS ******************************/

/****************************** SLIDER *******************************/

header .carousel {
    /*height: 92%;
    max-height: 500px;
    margin-top: 58px;*/
    height:350px;
    height: 100%;
}
header .carousel .fill {
    background-position: top center;
}
.carousel-caption:not(.insidepages) {
    max-width: 500px;
}
.carousel-caption h2, .carousel-caption p{
    text-align: left;
}
.carousel-caption h2 {
    font-size: 30px;
    margin-bottom: 5px;
    line-height: 1.4;
}
.carousel-caption p {
    font-size: 14px;
}
.carousel-caption a {
    float: left;
}
.carousel-caption a:hover {
    text-decoration: none;
}
.carousel-indicators .active {
    background-color: #007BB1;
}
.carousel-indicators li {
    border: solid 2px white;
}
header .carousel .item {
    top: 5px;
    position: relative;
}

/*rev slider*/
#header-slideimage-holder{
    height: 500px;
    overflow:hidden;
}
.slider-container h1.page-header {
    /*font-size: 80px;*/
	font-size: 3vw !important;
    line-height: 1.1;
}
.tp-caption {
    width: 100%;
    min-width: 500px;
    font-family: 'Lato', sans-serif !important;
}
 .tp-caption h2, .tp-caption p{
    text-align: left;
    font-family: 'Lato', sans-serif;
    text-shadow:0 0 5px #000;
    color: white;
}
.tp-caption h2 {
    font-size: 30px;
    margin-bottom: 5px;
    line-height: 1.4;
}
.tp-caption p {
    font-size: 16px;
    float: left;
    width: 100%;
}
.tp-caption a:hover {
    text-decoration: none;
}
.tp-caption .mdl-button{
    float:left;
    margin-top: 25px;
}
.insidepages .page-header {
    color: white;
}
.tp-caption.Newspaper-Title, .Newspaper-Title {
    font-size: 20px !important;
    line-height: 1.5 !important;
    font-family: 'Lato', sans-serif !important;
}
.erinyen .tp-tab-title {
    color: white;
    text-shadow: 0px 2px 5px #000;
}
.erinyen .tp-tab-desc {
    /*font-size: 11px;
    line-height: 1.5;
    font-family: 'Lato', sans-serif;*/
    display: none;
}
.tp-caption.rev-btn {
    padding: 0px !important;
}
.tp-caption.rev-btn a {
    width: 100%;
    color: white;
    padding: 14px;
    display: block;
    text-transform: uppercase;
    font-family: 'Lato', sans-serif !important;
}
.tp-caption.rev-btn a:hover {
    color:#008DCF;
}
.tp-caption.Newspaper-Subtitle {
    color: #c1272d;
}
.slider-title, .slider-text {
    max-width: 80%;
    text-overflow: ellipsis;
    overflow: hidden;
}
.rev_slider i.big {
    font-size: 100px !important;
    border: solid 5px #008DCF !important;
    border-radius: 100%;
    width: 150px;
    height: 150px;
    line-height: 1.4 !important;
    padding: 10px !important;
    /*background-color: rgba(255,255,255,0.3);*/
    background-color: white;
    transition: all 0.5s ease;
    text-align: center;
    color: #008DCF;
}
.tparrows.tp-leftarrow:before, .erinyen.tparrows.tp-leftarrow:before {
    content: "\f060";
}
.tparrows.tp-rightarrow:before, .erinyen.tparrows.tp-rightarrow:before {
    content: "\f061";
}
.tparrows:before, .erinyen.tparrows:before {
    font-family: FontAwesome;
}
.tp-arr-imgholder, .tp-videoposter, .tp-thumb-image, .tp-tab-image {
    z-index: 3;
}
.tags .tag {
    display: inline-block;
    text-align: left;
    margin: 15px 10px 5px;
}
#rev_slider_news p {
    width: auto !important;
    padding-left: 1px !important;
    margin-top: -6px !important;
    max-width: 100%;
    text-overflow: ellipsis;
    overflow: hidden;
}
/****************************** END OF SLIDER ******************************/

/****************************** HEAD DESCRIPTION *******************************/
.head-description {
    color: white;
    text-align: center;
    margin-bottom: 20px;
}
.head-description .container {
    max-width: 800px;
}
.head-description h1 {
    margin-top: 8px;
    font-size: 20px;
    background: transparent;
    border: none;
    margin-bottom: 0px;
}
.head-description p {
    font-size: 14px;
    margin-bottom: 6px;
    line-height: 1.6;
    color: white;
}
.mdl-card__supporting-text {
    width: 100%;
}
.mdl-card__supporting-text p {
    font-size: 12px;
    line-height: 1.5;
    margin-top: 10px;
    color: #3a3a3a;
}
.mdl-card__menu .fa {
    color: white;
}
.head-description .fa.icon {
    width: 40px;
    height: 40px;
}
/****************************** END OF HEAD DESCRIPTION *******************************/

/****************************** CARDS *******************************/
.mdl-card__title h2.mdl-card__title-text {
    max-height: 29px;
    text-overflow: ellipsis;
    overflow: hidden;
}
h3.mdl-card__title-text {
    font-size: 20px;
    font-weight: normal;
}
.mdl-card__image {
    height: 212px;
    overflow: hidden;
}
img mdl-card__image, .jplist-grid-view .list-item .img, .mdl-card__image {
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
}
.mdl-card__map {
    height: 422px;
    overflow: hidden;
}
.hangouts .mdl-card__image {
    height: 414px;
}
.mdl-card.wide .mdl-card__image {
    height: 400px;
}
.mdl-card__image img {
    width: 100%;
}
.mdl-card__title, .mdl-card__menu i.zmdi {
    color: white;
}
.mdl-card {
    width: 100%;
}
.mdl-card__supporting-text {
    height: 160px;
    text-overflow: ellipsis;
}
.mdl-card__supporting-text.map {
    height: 118px;
}
.featured .mdl-card__supporting-text {
    height: auto;
}
.activities .mdl-card__title {
    height: 76px;
}
.tagshere {
    color: gray;
    font-size: 12px;
}
.tagshere i, .tag-title {
    display: inline;
}
.tag-title {
    font-weight: bold;
}
a.tags-show {
    width: 30px;
    height: 30px;
    min-width: 0;
    text-align: center;
    text-align: center;
    padding-left: 8px;
    padding-top: 2px;
    color:gray;
}
a.tags-show:hover, a.link-show:hover {
    color:#c1272d;
}
.taghere {
    font-size: 10px;
    margin-bottom: 5px;
}
.tag-holder {
    border-left: solid 1px;
    padding-left: 5px !important;
}
.tags-holder {
    display: block;
    float: left;
    margin-top: 10px;
    width: 100%;
}
.tags-shower {
    display: none;
    float: left;
    width: 100%;
    position: absolute;
    bottom: 0px;
    background: #EFEFEF;
    box-shadow: 0px 0px 5px 2px;
    left: 0px;
    padding: 10px;
    overflow-y: auto;
}
.tags-shower:hover {
    cursor: pointer;
}
.tags-shower:before {
    content: "x";
    float: right;
    /* border: solid 1px #B3B3B3; */
    /* border-radius: 100%; */
    width: 15px;
    height: 15px;
    text-align: center;
    line-height: 1;
}
.theme.tags-shower:hover:before {
    color: #007BB1;
}
.jplist .like, .jplist .keywords {
    color: gray !important;
}
.jplist-panel.box.panel-top {
    min-height: 245px;
}
#filtered-content .mdl-card__title {
    height: 80px;
    vertical-align: top;
    display: table;
    width: 100%;
}
#filtered-content .col-md-6 {
    padding: 5px;
    /*padding-bottom: 0px;*/
}
.container #filtered-content .row {
    margin-bottom: 4px;
}
.mdl-card__menu i.fa.icon.hangouts {
    width: 18px;
    height: 18px;
    background-repeat: no-repeat;
    float: right;
    position: relative;
    z-index: 1;
    right: 10px;
}
.col-md-4 .mdl-card.mdl-shadow--2dp.bg-gray-light {
    margin-bottom: 30px;
}
.mdl-card__title h2.mdl-card__title-text {
    text-overflow: ellipsis;
    overflow: hidden;
    width: 290px;
    white-space: pre;
    display: block;
}
h3.title.mdl-card__title-text {
    text-overflow: ellipsis;
    overflow: hidden;
    width: 244px;
    white-space: pre;
    display: block;
}
.mdl-card__title a {
    color: white;
    text-decoration: none;
}
/****************************** END OF CARDS *******************************/

/****************************** SECTIONS *******************************/
h1.section-title, h3.section-title {
    font-weight: 300;
    border-bottom: dashed 1px #C1C1C1;
    padding-bottom: 10px;
    font-size: 34px;
}
h4.section-title {
    border-bottom: dashed 1px #9C9C9C;
    padding-bottom: 10px;
}
.section-title i {
    padding-right: 10px;
    color: gray;
}
/****************************** END OF SECTIONS *******************************/

/****************************** EXTERNAL LINKS *******************************/
a.external-links {
    border-right: solid 1px gray;
    padding-right: 10px;
    padding-left: 10px;
}
a.external-links:first-child {
    padding-left: 0;
}
a.external-links:last-child {
    border:none;
}
/****************************** END OF EXTERNAL LINKS *******************************/

/****************************** CALL TO ACTION *******************************/
.calltoaction {
    padding: 14px;
    background-image: url('../imgs/cop-fo-submit-banner.png');
    background-repeat: no-repeat;
    background-size: cover;
}
.calltoaction p {
    color: white;
}
.calltoaction .zmdi {
    /*display: none;*/
}
.calltoaction .zmdi {
    font-size: 40px;
    position: relative;
    top: -55px;
}
.calltoaction h3 {
    color: white;
    font-weight: lighter;
    font-size: 24px;
    text-transform: uppercase;
}
.calltoaction .mdl-button--accent.mdl-button--accent.mdl-button--raised {
    background: white;
    color: #c1272d;
}
p.anim {
    /*border-bottom: dashed 1px white;*/
    margin-bottom: -19px;
}
p.anim i {
    margin-left:-60px;
    -webkit-animation-duration: 10s;
    -moz-animation-duration: 10s;
    -ms-animation-duration: 10s;
    -o-animation-duration: 10s;
    /*-webkit-animation-delay: 0.5s;
    -moz-animation-delay: 0.5s;
    -ms-animation-delay: 0.5s;
    -o-animation-delay: 0.5s;*/
}
.calltoaction .mdl-button {
    margin-top: 33px;
}
/****************************** END OF CALL TO ACTION *******************************/

/****************************** FOOTER *******************************/
footer {
    margin: 0px;
    overflow: hidden;
}
.footer-menu li {
    color: white;
    list-style: none;
    display: inline-block;
    border-right: solid 1px white;
    padding-right: 10px;
    padding-left: 10px;
    line-height: 1;
}
.footer-menu li:first-child {
    padding-left: 0px;
}
.footer-menu li:last-child {
    border:none;
}
.footer-menu a {
    color: white;
    text-decoration: none;
    font-size: 10px;
}
.footer-menu a:hover, .footer-menu a.selected {
    color:#fb5f65;
}
.footer-menu {
    padding-top: 14px;
}
.footer-menu ul {
    padding-left: 0px;
}
footer .mdl-button--fab.mdl-button--colored {
    background-color: white;
    color: #565656 !important;
}
footer .row {
    margin-bottom: 0px;
}
footer .social-icons {
    margin-left: 0px;
    margin-bottom: 0px;
    position: relative;
    top: -25px;
}
footer .social-icons .mdl-button--fab i {
    font: normal normal normal 18px/1.6 FontAwesome;
}
.col-lg-5.copyright {
    padding-left: 0px;
}
footer .copyright p {
    color: #ccc;
    font-size: 9px;
    margin: 0;
    padding: 0;
}
footer .col-xs-5.copyright, footer .col-xs-7  {
    padding:0px;
}
footer .copyright a {
    color: #ccc;
}
img.rits {
    width: 80px;
    position: relative;
    top: 0px;
    left: 5px;
}
.footer-sub-menu {
    border-top: solid 1px #373737;
    padding-top: 10px;
}
.topheader-sub-menu a, .footer-sub-menu a {
    text-transform: uppercase;
    font-size: 12px;
    border-bottom: solid 4px;
    margin-right: 14px;
    padding-bottom: 3px;
    -webkit-transition: all 1s ease-in-out;
    -moz-transition: all 1s ease-in-out;
    -o-transition: all 1s ease-in-out;
    transition: all 1s ease-in-out;
    padding: 5px;
}
a.educacao {
    border-color: #007bb1;
}
a.educacao:hover {
    background: #007bb1;
    color: white;
}
a.historia {
    border-color: #ab9860;
}
a.historia:hover {
    background: #ab9860;
    color: white;
}
/****************************** END OF FOOTER *******************************/

/****************************** NEWSLETTER *******************************/
.comptext h2 {
    font-size: 20px !important;
    margin: 0px;
}
.newsletter h3 {
    color: white;
    font-size: 16px;
    font-weight: lighter;
    text-align: left;
    /*border-bottom: solid 1px gray;*/
    margin-top: -5px;
    margin-bottom: 0px;
}
.newsletter i {
    padding-right: 10px;
}
.newsletter .mdl-textfield {
    width: 100%;
}
footer label.mdl-textfield__label {
    color: white;
    font-weight: lighter;
}
footer .mdl-textfield.mdl-js-textfield.mdl-textfield--floating-label.is-upgraded.is-focused label {
    color: #ADADAD;
}
footer .mdl-textfield__label:after {
    background-color: #FFFFFF;
}
footer .mdl-textfield.is-focused .mdl-textfield__input {
    color: white;
}
footer .mdl-textfield.mdl-js-textfield.mdl-textfield--floating-label.newsletter {
    position: relative;
    top: -2px;
}
footer .mdl-textfield--floating-label.is-focused .mdl-textfield__label, footer .mdl-textfield--floating-label.is-dirty .mdl-textfield__label {
    color: #fafafa;
}
#newsletter-subscription input[type="submit"] {
    font-size: 10px;
    padding: 5px;
    width: 30px;
    height: 30px;
    min-width: 0;
    display: inline-block;
    background-color: gray;
}
#newsletter-subscription .newsletter.is-focused + input[type="submit"] {
    background-color: white;
    transition: all 0.5s ease;
}
footer .mdl-textfield--floating-label.is-invalid .mdl-textfield__label {
    color: white;
    font-size: 12px;
}
footer .mdl-textfield.is-invalid .mdl-textfield__input {
    border-color: inherit;
    box-shadow: inherit;
    color: white;
}
.newsletter button {
    color: #8A8A8A;
}
.newsletter button:hover {
    color: white;
}
.newsletter .container {
    width: auto;
}
.newssubmit input {
    color: white;
    position: relative;
    top: 30px;
}
.newsletter .mdl-textfield__input {
    color: #C3C3C3;
}
.newsletter label.error {
    color: #A59999;
    line-height: 1.4;
}
.newsletter p {
    color: white;
    text-align: left;
    font-size: 10px;
}

/*mailchimp*/
footer #mc_embed_signup div.mce_inline_error {
    background: transparent !important;
    color: #E4334E !important;
    text-align: left;
    font-size: 12px;
    padding-bottom: 0px !important;
    margin-bottom: -12px !important;
    position: absolute;
    display: none !important;
}
.response {
    color: white;
    text-align: left;
}
input#mc-embedded-subscribe {
    color: white;
}
/*.newssubmit {
    position: relative;
    top: 30px;
    float: right;
    z-index: 3;
}*/
.box-buttons {
    margin-top: 25px;
}
/****************************** END OF NEWSLETTER *******************************/

/****************************** FILTERBOX *******************************/
.filterbox .row {
    /*margin: auto;*/
    margin:0;
}
.filterbox .mdl-card__title, .filterbox  .mdl-card__menu i.zmdi {
    color: #333;
    padding-left: 0px;
}
.filterbox .mdl-card__menu .fa {
    color: #333;
}
.mdl-card.mdl-shadow--2dp.filterbox {
    padding-left: 20px;
    padding-right: 20px;
    padding-bottom: 20px;
}
.filterbox .mdl-textfield.is-focused .mdl-textfield__expandable-holder, .mdl-textfield.is-dirty .mdl-textfield__expandable-holder {
    max-width: none;
}
.filterbox .mdl-textfield.is-focused .mdl-textfield__input, .filterbox .mdl-textfield.is-dirty .mdl-textfield__input {
    /*width: 235px;*/
}
input#search-filters[placeholder] {
    font-weight: lighter;
    padding-left: 8px;
}
.filterbox .mdl-card__supporting-text {
    height: auto;
}
.filterbox .mdl-checkbox.all {
    margin-bottom: 36px;
}
.filterbox .mdl-checkbox {
    margin-top: 10px;
    font-weight: 500;
}
#filtered-content .fa {
    font-size: 24px;
}
.filterbox span i.zmdi {
    float: right;
    font-size: 22px;
}
#filtered-content i {
    font-size: 22px;
    margin-right: 15px;
}
#searchfilters i, #searchfilters .mdl-textfield {
    display: table-cell;
}
#searchfilters .mdl-textfield {
    max-width: 296px:
}
.filter-type {
    margin-bottom: 20px;
}
/****************************** END OF FILTERBOX *******************************/

/****************************** CATEGORY BOX *******************************/
.categorybox h2.mdl-card__title-text {
    max-width: 300px;
    text-overflow: ellipsis;
    overflow: hidden;
    font-size: 20px;
}
.categorybox .mdl-card__menu i {
    font-size: 35px;
    line-height: 0.5;
}
.categorybox .mdl-card__title {
    padding-left: 30px;
}
.categorybox .mdl-card__actions {
    /*text-align: center;*/
    padding-left: 15px;
}
.categorybox .row {
    margin-bottom: 0px;
}
.categorybox .mdl-card__supporting-text {
    height: auto;
    padding: 5px 30px;
}
.categorybox a.mdl-button {
    font-size: 11px;
    left: 5px;
}
.categorybox .icon {
    width: 38px;
    height: 38px;
}
.mdl-card__actions.mdl-card--border {
    border-top: none;
    border-bottom: 1px solid rgba(0,0,0,.1);
}
.categorybox.activities .mdl-card__supporting-text i,  .categorybox.activities .mdl-card__supporting-text fa {
    margin-right: 8px;
}
.categorybox.activities .mdl-card__title {
    margin-bottom: 0px;
    padding-bottom: 0px;
}
.categorybox h2.mdl-card__title-text i,  .categorybox h2.mdl-card__title-text fa {
    margin-right: 6px;
    line-height: 1.3;
}
.categorybox.activities .mdl-card__title.toptitle {
    padding-bottom: 6px;
    vertical-align: middle;
    display: table;
    width: 100%;
}
.toptitle.mdl-card__title h2, .toptitle.mdl-card__title i {
    display: table-cell;
}
.toptitle.mdl-card__title i {
    font-size: 25px;
}
.mdl-card__menu i {
    font-size: 22px;
}
/****************************** END OF CATEGORY BOX *******************************/

/****************************** SEARCH BOX *******************************/
.searchbox {
    padding: 10px;
}
.searchbox .row {
    margin-left: 0px;
    margin-right: 0px;
}
.searchbox label.mdl-checkbox {
    margin-top: 24px;
}
.searchbox #datepicker {
    margin-top: 17px;
}
div#datepicker:before {
    content: "Pesquisar por data";
    position: absolute;
    top: -22px;
}
table .search-for .search-type-title i {
    padding: 0px;
    border-radius: 100%;
    color: white;
    text-align: center;
    line-height: 1.5;
    width: 30px;
    height: 30px;
    vertical-align: middle;
    font-size: 20px;
    display: none;
}
table .search-type-title h5 {
    display: inline-block;
    padding-left: 10px;
    font-size: 15px;
    min-width: 110px;
    text-align: center;
}
table .search-for.a .search-type-title i {
    background-color: #F2A832;
}
table .search-for.c .search-type-title i {
    background-color: #008DCF;
}
table .search-for.a .search-type-title i.zmdi-run, table .search-for.c .search-type-title i.fa-clipboard, table .search-for.d .search-type-title i.fa-bullseye {
    display: inline-block;
}
table .search-for.d .search-type-title i {
    background-color: #E4334E;
}
#search-table_filter input[type="search"] {
    display: none;
}
#search-table td {
    text-align: center;
}
/****************************** END OF SEARCH BOX *******************************/

/****************************** ADD BOX *******************************/
.addbox {
    padding:20px;
}
/****************************** END OF ADD BOX *******************************/

/****************************** COMMENT BOX *******************************/
.commentbox {
    padding: 10px 26px;
    margin-top: -10px;
    display: none;
    margin-left: -12px;
}
.commentbox label.mdl-textfield__label {
    color: #3a3a3a;
}
.commentbox .mdl-card__actions.mdl-card--border {
    border: none;
    text-align: center;
}
.commentbox .mdl-textfield {
    width: 100%;
}
.commentbox .mdl-textfield__label:after {
    background-color: transparent;
}
.is-focused .mdl-textfield__input {
    border-bottom: 2px solid #424242;
}
button#add-comment {
    margin-top: 55px;
}
/****************************** END OF COMMENT BOX *******************************/

/****************************** ADD BUTTONS *******************************/
button#add-content {
    width: 100%;
}
a#add-content {
    margin-bottom: 10px;
    float: right;
}
/****************************** END OF ADD BUTTONS *******************************/

/****************************** iLightbox *******************************/
.thumbnails li.span {
    list-style: none;
    display: inline-block;
}
.thumbnails li .img-container {
    width: 225px;
    height: 168px;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
    display: block;
}
ul.thumbnails {
    padding: 0px;
}
.ilightbox-overlay.dark {
    background-color: #000;
}
img.video-thumbnail {
    width: 237px;
}
.video i.fa-play-circle-o {
    font-size: 60px;
    position: absolute;
    margin-left: 92px;
    margin-top: 56px;
    color: white;
    opacity: 0.5;
}
.video:hover i.fa-play-circle-o {
    color: #c1272d;
}
.ilightbox-title {
    color: white;
    font-size: 12px;
}
/****************************** END OF iLightbox *******************************/

/****************************** MAP LOCATOR *******************************/
#jlocator .controls, #jlocator .box {
    width: 100%;
}
#jlocator .controls, #jlocator .box {
    /*width: 100%;
    float: left;
    display: block;
    margin-bottom: 10px;*/
}
#jlocator .drop-down .panel:after {
    content: "\f063";
    font: normal normal normal 14px/1 FontAwesome;
    float: right;
    margin-top: 3px;
}
.drop-down:hover .panel {
    color:#c1272d;
}
#jlocator .panel {
    border: none;
}
#jlocator .drop-down, #jlocator .filter input {
    border: none;
}
#jlocator .box .drop-down.left {
    width: 100%;
}
#jlocator .mdl-textfield {
    width: auto;
    min-width: 300px;
    padding-top: 0px;
    padding-bottom: 0px;
}
#jlocator .row {
    margin: auto;
    margin-bottom: 22px;
}
#jlocator .cb-group-filter {
    border: none;
    margin-left: 0px;
    padding-left: 0px;
}
#jlocator label.mdl-textfield__label {
    top: 3px;
}
#jlocator .mdl-textfield.is-focused .mdl-textfield__label:after{
    top: 20px;
}
#jlocator .title {
    font-family: 'Lato', sans-serif;
    font-size: 18px;
    line-height: 13px;
    color: #007BB1;
    font-weight: 300;
}
#jlocator .tags {
    color: #969696;
    display: block;
}
#jlocator .paging {
    display: inline-block;
    padding-left: 0;
    margin: 20px 0;
    border-radius: 4px;
    border: solid 1px #ccc;
}
#jlocator .paging span {
    letter-spacing: -4px;
}
#jlocator .paging .pagingprev span:first-child {
    margin-left: 0;
    border-top-left-radius: 4px;
    border-bottom-left-radius: 4px;
}
#jlocator .paging .pagesbox span, #jlocator .pagingprev span, #jlocator .pagingnext span {
    position: relative;
    float: left;
    padding: 6px 12px;
    margin-left: -1px;
    line-height: 1.42857143;
    color: #337ab7;
    text-decoration: none;
    background-color: #fff;
    border: 1px solid #ddd;
}
#jlocator .paging span,  #jlocator .pagingmid .pagesbox span {
    margin: 0px;
    border: none;
    outline: 0;
    border-right: solid 1px #ccc;
}
#jlocator .pagingnext span:last-child {
    border-right: none;
}
#jlocator .paging .current {
    z-index: 3;
    color: #fff !important;
    cursor: default;
    background-color: #337ab7 !important;
    border-color: #337ab7 !important;
}
#jlocator i, #jlocator fa {
    padding-right: 5px;
}
#jlocator .map {
    height: 758px;
}
#jlocator > .panel {
    height: 758px;
    /*overflow-y: scroll;*/
}

#jlocator.home .map {
    width: 100%;
}
#jlocator.home .panel {
    display: none;
}
#jlocator .stores {
    height: 527px;
}
/****************************** END OF MAP LOCATOR *******************************/

/****************************** COOKIES *******************************/
#cookie-bar {
    background: #CCCCCC;
    height: auto;
    line-height: 24px;
    color: #7B7B7B;
    text-align: left;
    padding: 10px 12px;
    box-shadow: 0 2px 2px 0 rgba(0,0,0,.14),0 3px 1px -2px rgba(0,0,0,.2),0 1px 5px 0 rgba(0,0,0,.12);
    position: relative;
    z-index: 9999;
}
#cookie-bar a {
    padding: 8px;
    color: white;
    border-radius: 5px;
    display: inline-block;
    margin: 5px;
}
a.cb-enable {
    background: #009C63;
}
a.cb-policy {
    background: #043943;
}
a.cb-enable:hover, a.cb-policy:hover {
    background-color: #c1272d;
    text-decoration: none;
    transition: all 0.5s ease;
}
/****************************** END OF COOKIES *******************************/

/****************************** 404 *******************************/
h2.error {
    font-size: 200px !important;
    color: #AFAFAF;
    text-shadow: 0px 3px 5px #656565;
    padding: 100px;
    text-decoration: underline;
}
.error p {
    color: #3a3a3a;
}
.error i {
    position: absolute;
    margin-left: -184px;
    font-size: 30px;
    text-shadow: none;
    text-align: center;
    margin-top: 58px;
}
.container.error {
    text-align: center;
}
/****************************** END OF 404 *******************************/

/****************************** GAUGE ANIMATIONS *******************************/
.gauge-anim {
    min-height: 400px;
    padding-top: 20px;
}
.gauge-anim {
    padding-top: 20px;
    padding-bottom: 40px;
}
.gauge-anim i {
    font-size: 28px;
    background: gray;
    border-radius: 100%;
    padding: 12px;
    width: 50px !important;
    height: 50px !important;
    color: white;
    margin-right: 25px;
    background-size: 37px;
    background-position: center center;
    position: relative;
    top: 9px;
    text-align: center;
}
.gauge-anim .fa.school {
    position: relative;
    top: 23px;
}
.gauge-anim-title h3, .gauge-anim-title i {
    display: inline-block;
}
.gauge-anim-title h3.section-title {
    line-height: 1.8;
    font-weight: 200;
    border-bottom: dashed 1px #C1C1C1;
    padding-bottom: 5px;
    width: 75%;
    font-size: 22px;
}
.gauge-anim-title h3.section-title small {
    position: absolute;
    margin-top: 12px;
}
/****************************** END OF GAUGE ANIMATIONS *******************************/

/****************************** DATATABLES *******************************/
table.display th {
    text-align: center;
}
.dataTables_filter #searchfield {
    position: relative;
    top: -20px;
    right: 8px;
}
.dataTable th i {
    display: block;
    padding-bottom: 5px;
    color: #969696;
}
table.display td {
    border: solid 1px #F4F4F4;
}
table.display td:last-child {
    border: none;
}
table.dataTable td.select-checkbox:before, table.dataTable td.select-checkbox:after {
    position: relative;
    top: 0px;
}
table.dataTable tbody tr.selected {
    background-color: #607D8B !important;
    color: white;
}
table.dataTable tbody tr.selected a {
    color:white;
}
table.dataTable.display tbody tr.selected .sorting_1 {
    background-color: #6D95A7 !important;
}
.dataTables_wrapper .dataTables_paginate .paginate_button.current, .dataTables_wrapper .dataTables_paginate .paginate_button.current:hover {
    background: #007BB1 !important;
    color: white !important;
}
.dataTables_wrapper .dataTables_paginate .paginate_button:hover {
    background:#c1272d !important;
}
table.dataTable tr.selected td.select-checkbox:after {
    top: -6px;
    text-shadow:none;
}
table.dataTable thead th {
    font-weight: lighter;
}
table.dataTable .mdl-button.mdl-button--colored {
    color: white;
}
table.dataTable .actions{
    text-align: center;
}
table.dataTable .action {
    display: inline-block;
}
table.dataTable .mdl-button--fab {
    min-width: 0;
    width: 35px;
    height: 35px;
    line-height: 1.5;
    margin-right: 10px;
}
table .seenby {
    position: absolute;
    margin-top: 14px;
}
.dataTables_filter:not(#search-table_filter) {
    margin-top: -81px;
    margin-bottom: -15px;
    margin-right: 10px;
}
.dataTables_info {
    display: none;
}
table.dataTable.stripe tbody tr.odd, table.dataTable.display tbody tr.odd {
    background-color: #F1F1F1;
}
table.dataTable.display tbody tr.odd>.sorting_1, table.dataTable.order-column.stripe tbody tr.odd>.sorting_1 {
    background-color: #E0E0E0;
}
table.dataTable.display tbody tr.even>.sorting_1, table.dataTable.order-column.stripe tbody tr.even>.sorting_1 {
    background-color: #F3F3F3;
}
tr.notification.odd.special {
    background: #C8EAC8 !important;
}
tr.notification.even.special {
    background: #BADCBA !important;
}
td.requests-message, td.requests-subject {
    text-overflow: ellipsis;
    max-width: 200px;
    overflow: hidden;
}
table div#actions {
    text-align: center;
}
table.display tr.child i {
    padding-right: 10px;
}
table.dataTable.dtr-inline.collapsed>tbody>tr>td:first-child:before, table.dataTable.dtr-inline.collapsed>tbody>tr>th:first-child:before {
    top: 8px !important;
    left: 4px !important;
    height: 25px !important;
    width: 25px !important;
    color: white !important;
    border: 1px solid white !important;
    font-family: FontAwesome !important;
    text-indent: 0px !important;
    line-height: 1.9 !important;
    content: "\f063" !important;
    background-color: #007BB1 !important;
    text-align: center !important;
    padding: 0px !important;
}
table.dataTable.dtr-inline.collapsed>tbody>tr.parent>td:first-child:before, table.dataTable.dtr-inline.collapsed>tbody>tr.parent>th:first-child:before {
    content: "\f062" !important;
    background-color: #565656 !important;
    font-family: FontAwesome !important;
}
table.dataTable.dtr-inline.collapsed>tbody>tr>td:first-child, table.dataTable.dtr-inline.collapsed>tbody>tr>th:first-child {
    padding-left: 35px !important;
}
table.dataTable>tbody>tr.child span.dtr-title {
    width: 110px;
}
#contentBox {
    overflow: hidden;
}
#datatable-searchfield {
    margin-bottom: 10px;
}
.dataTables_wrapper .dataTables_paginate .paginate_button.current {
    color: white !important;
}
.dataTables_wrapper .dataTables_scroll div.dataTables_scrollBody td {
    overflow: hidden;
    max-width: 200px;
    text-overflow: ellipsis;
}
/****************************** END OF DATATABLES *******************************/

/****************************** REVIEW MODE *******************************/
.forReview.modalview {
    background-color: gray;
    background-image: repeating-linear-gradient(45deg, transparent, transparent 35px, rgba(255,255,255,.5) 35px, rgba(255,255,255,.5) 70px);
    position: fixed;
    top: 0px;
    left: 0px;
    width: 100%;
    height: 100%;
    z-index: 9999;
    opacity: 0.2;
}
#edit-page {
    width: 100%;
    z-index: 99999;
}
.preview #edit-page-back {
    margin-top: 10px;
    width: 100%;
    z-index: 99999;
}
.forReview {
    position: relative;
    z-index: 9999999999;
    width: 100%;
}
.mdl-tooltip.is-active {
    z-index: 999999999;
}
#publish-page {
    width: 100%;
    background-color: #009C63;
}
a.forReview {
    position: relative;
    top: 34px;
}
a#edit-texts {
    top: 0;
}
/****************************** END OF REVIEW MODE *******************************/

/****************************** CONTENT *******************************/
.contenttext {
    float: left;
    max-width: 100%;
    overflow: hidden;
    text-overflow: ellipsis;
    word-wrap: break-word;
}
.introtext {
    border-bottom: solid 1px #E3E3E3;
    margin-bottom: 10px;
}
.introtext, .introtext p {
    font-size: 18px;
    line-height: 1.5;
}
.section-container {
    width: 100%;
    float: left;
}
/****************************** END OF CONTENT *******************************/

/****************************** SUCCESS MODAL POPUP *******************************/
.modal-header.bg-green h4 {
    color: white;
}
.modal-header.bg-green i {
    padding-right: 10px;
    font-size: 40px;
    text-align: center;
    float: left;
}
/****************************** END OF SUCCESS MODAL POPUP *******************************/

/****************************** AGENDA *******************************/
.mdl-card.agenda {
    height: 302px;
}
/****************************** END OF AGENDA *******************************/

/****************************** TOP MENU RIGHT MATERIAL  *******************************/
.col-lg-9.withtoprightmenu {
    padding-right: 18px;
    margin-right: -7px;
}
.toprightmenu .mdl-card__title.toptitle {
    height: auto;
}
.toprightmenu {
    padding: 0;
    padding-right: 8px;
    padding-top: 53px;
}
.toprightmenu .mdl-card {
    overflow: visible;
    position: relative;
    z-index: 2;
}
.toprightmenu .mdl-card__title.toptitle {
    height: auto;
    overflow: hidden;
    width: 285px;
    margin: auto;
    border-radius: 2px 2px 0px 0px;
    padding: 10px;
}
.toprightmenu .mdl-card__image {
    overflow: hidden;
    width: 285px;
    margin: auto;
    border-radius: 0px 0px 2px 2px;
}
#menu-lower-right i {
    display: block;
}
.toptitle ul {
    padding-top: 0px;
    left: 5px;
}
.toptitle ul li {
    padding: 0px;
    margin: 0px;
    left: 0px;
}
.toptitle ul li.hide {
    opacity: 0;
    height: 0;
}
.toptitle ul li a {
    color: black;
    width: 100%;
    height: 100%;
    display: block;
    padding-left: 8px;
    padding-right: 8px;
}
li.mdl-menu__item.topubs {
    border-bottom: solid 1px #e8e8e8;
}
/****************************** END OF TOP MENU RIGHT MATERIAL *******************************/

/****************************** PUBLICATIONS *******************************/
.row.publications h2.mdl-card__title-text {
    text-overflow: initial;
    overflow: visible;
    white-space: inherit;
    max-height: none;
    height: 50px;
}
.row.publications.top .container {
    border-bottom: solid 1px #cacaca;
    margin-bottom: 27px;
}
.pdf-show, .link-show {
    width: 30px;
    height: 30px;
    min-width: 0;
    text-align: center;
    padding-left: 8px;
    padding-top: 2px;
    text-shadow: none;
    float: right;
}
.pdf-show {
    color: white;
}
a.link-show {
    color: gray;
    margin-left: 5px;
    margin-right: 5px;
}
.box.item-type-list .mdl-card__title {
    float: left;
    width: 15%;
    height: 200px;
    padding: 0px;
    display: block;
    box-sizing: inherit;
    text-align: center;
    line-height: 200px;
}
.jplist-list-view .col-md-9 {
    padding-right: 24px !important;
}
.jplist .box.item-type-list .block {
    float: left;
    display: block;
    height: 200px;
    border: none;
    width: 84%;
    padding: 15px;
    margin: auto;
}
.item-type-list .row {
    margin: 0;
}
.item-type-list-top {
    float: left;
    display: block;
    width: 100%;
    min-height: 100px;
    max-height: 100px;
    overflow: hidden;
    border-bottom: solid 1px #ddd;
}
.item-type-list-bottom {
    margin-top: 10px !important;
    float: left;
    width: 100%;
}
.item-type-list-top h3 {
    width: auto;
    float: left;
    font-size: 20px !important;
    margin: 0;
}
.jplist .item-type-list .date {
    position: relative;
    top: 11px;
}
.item-type-list-bottom .row {
    margin-bottom: 8px;
}
.item-type-list .mdl-card__title i {
    margin: auto;
    text-align: center;
    font-size: 74px;
    vertical-align: middle;
    display: none;
}
.item-type-list .mdl-card__title.Premios i, .item-type-list .mdl-card__title.Artigos i.zmdi-file-text, .item-type-list .mdl-card__title.Livros i.zmdi-book, .item-type-list .mdl-card__title.Dissertacoes i.zmdi-border, .item-type-list .mdl-card__title.Imagens i.zmdi-image, .item-type-list .mdl-card__title.Periodicos i.zmdi-copy, .item-type-list .mdl-card__title.Outros i.zmdi-file  {
    display: inline-block;
}
.uni-name {
    display: inline-block;
    margin-left: 5px;
}
.authors-name {
    display: inline-block;
    border-right: solid 1px #b5b5b5;
    padding-left: 8px;
    padding-right: 8px;
}
.authors-name:last-child {
    border: none;
}
.filter-type i {
    float: right;
    color: #c5c5c5;
}
ul#revisors {
    padding-top: 2px;
}
.revisor {
    height: 164px;
    line-height: 1.4;
    text-align: left;
}
.revisor-image {
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
    width: 62px;
    height: 62px;
    border-radius: 100%;
    border: solid 2px #c1272d;
}
.revisor-name {
    font-weight: bold;
}
/****************************** END OF PUBLICATIONS *******************************/