﻿<%@ Assembly Name="$SharePoint.Project.AssemblyFullName$" %>
<%@ Assembly Name="Microsoft.Web.CommandUI, Version=15.0.0.0, Culture=neutral, PublicKeyToken=71e9bce111e9429c" %>
<%@ Register Tagprefix="SharePoint" Namespace="Microsoft.SharePoint.WebControls" Assembly="Microsoft.SharePoint, Version=15.0.0.0, Culture=neutral, PublicKeyToken=71e9bce111e9429c" %>
<%@ Register Tagprefix="Utilities" Namespace="Microsoft.SharePoint.Utilities" Assembly="Microsoft.SharePoint, Version=15.0.0.0, Culture=neutral, PublicKeyToken=71e9bce111e9429c" %>
<%@ Register Tagprefix="asp" Namespace="System.Web.UI" Assembly="System.Web.Extensions, Version=3.5.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" %>
<%@ Import Namespace="Microsoft.SharePoint" %> 
<%@ Register Tagprefix="WebPartPages" Namespace="Microsoft.SharePoint.WebPartPages" Assembly="Microsoft.SharePoint, Version=15.0.0.0, Culture=neutral, PublicKeyToken=71e9bce111e9429c" %>
<%@ Control Language="C#" AutoEventWireup="true" CodeBehind="UC_FooterNews.ascx.cs" Inherits="RITS.COP.PFO.UI.ControlTemplates.RITS.COP.PFO.UI.Publications.Main.UC_FooterNews" %>

<div class="section-container">
    <div class="row notForReview">
        <div class="container">
            <h3 class="section-title"><i class="fa fa-newspaper-o"></i>lblNews</h3>
        </div>
    </div>
    <div class="row notForReview">
        <div id="rev_slider_about_wrapper" class="rev_slider_wrapper fullwidthbanner-container" data-alias="classic-carousel2" style="margin: 0px auto; background-color: #ffffff; padding: 0px; margin-top: 0px; margin-bottom: 0px;">

            <!-- START REVOLUTION SLIDER 5.0.7 fullwidth mode -->
            <div id="rev_slider_news" class="rev_slider fullwidthabanner" style="display: none;" data-version="5.0.7">
                <ul>
                    <li data-index="rs-185" data-transition="zoomout" data-slotamount="default" data-hideafterloop="0" data-hideslideonmobile="off" data-easein="Power4.easeInOut" data-easeout="Power4.easeInOut" data-masterspeed="2000" data-thumb="https://revolutioncdn-themepunchgbr.netdna-ssl.com/wp-content/uploads/revslider/classicslider/datcolor.jpg" data-rotate="0" data-fstransition="fade" data-fsmasterspeed="1500" data-fsslotamount="7" data-saveperformance="off" data-title="Intro" data-param1="" data-param2="" data-param3="" data-param4="" data-param5="" data-param6="" data-param7="" data-param8="" data-param9="" data-param10="" data-description="" class="tp-revslider-slidesli active-revslide next-revslide" style="width: 1240px; height: 100%; overflow: hidden; transform-style: flat; z-index: 100; visibility: inherit; opacity: 1; transform-origin: 50% 50% 0px; left: 325px; transform: matrix3d(1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1);">
                        <div class="slotholder" style="position: absolute; top: 0px; left: 0px; z-index: 0; width: 100%; height: 100%; backface-visibility: hidden; transform: translate3d(0px, 0px, 0px);"><!--Runtime Modification - Img tag is Still Available for SEO Goals in Source - <img src="//revolutioncdn-themepunchgbr.netdna-ssl.com/wp-content/uploads/revslider/classicslider/datcolor.jpg" alt="" title="datcolor.jpg" width="1920" height="1329" data-bgposition="center center" data-bgfit="cover" data-bgrepeat="no-repeat" data-bgparallax="5" class="rev-slidebg defaultimg" data-no-retina="">--><div class="tp-bgimg defaultimg" style="background-color:rgba(0, 0, 0, 0);background-repeat:no-repeat;background-image:url(//revolutioncdn-themepunchgbr.netdna-ssl.com/wp-content/uploads/revslider/classicslider/datcolor.jpg);background-size:cover;background-position:center center;width:100%;height:100%;" src="//revolutioncdn-themepunchgbr.netdna-ssl.com/wp-content/uploads/revslider/classicslider/datcolor.jpg"></div></div>
                        <div class="tp-parallax-wrap" style="position: absolute; visibility: visible; left: 345px; top: 255px; z-index: 5;"><div class="tp-loop-wrap" style="position:absolute;"><div class="tp-mask-wrap" style="position: absolute; overflow: visible; height: auto; width: auto;"><div class="tp-caption NotGeneric-Title   tp-resizeme" id="slide-185-layer-1" data-x="['center','center','center','center']" data-hoffset="['0','0','0','0']" data-y="['middle','middle','middle','middle']" data-voffset="['0','0','0','0']" data-fontsize="['70','70','70','45']" data-lineheight="['70','70','70','50']" data-width="none" data-height="none" data-whitespace="nowrap" data-transform_idle="o:1;" data-transform_in="z:0;rX:0;rY:0;rZ:0;sX:0.9;sY:0.9;skX:0;skY:0;opacity:0;s:1500;e:Power3.easeInOut;" data-transform_out="y:[100%];s:1000;e:Power2.easeInOut;" data-mask_out="x:inherit;y:inherit;s:inherit;e:inherit;" data-start="1000" data-splitin="none" data-splitout="none" data-responsive_offset="on" style="z-index: 5; white-space: nowrap; visibility: inherit; transition: none; line-height: 70px; border-width: 0px; margin: 0px; padding: 10px 0px; letter-spacing: 0px; font-weight: 800; font-size: 70px; min-height: 0px; min-width: 0px; max-height: none; max-width: none; opacity: 1; transform: matrix3d(1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1); transform-origin: 50% 50% 0px;">I'M OLDSCHOOL </div></div></div></div>
                        <div class="tp-parallax-wrap" style="position: absolute; visibility: visible; left: 504px; top: 342px; z-index: 6;"><div class="tp-loop-wrap" style="position:absolute;"><div class="tp-mask-wrap" style="position: absolute; overflow: hidden; transform: matrix(1, 0, 0, 1, 0, 0); height: auto; width: auto;"><div class="tp-caption NotGeneric-SubTitle   tp-resizeme" id="slide-185-layer-4" data-x="['center','center','center','center']" data-hoffset="['0','0','0','0']" data-y="['middle','middle','middle','middle']" data-voffset="['52','52','52','51']" data-width="none" data-height="none" data-whitespace="nowrap" data-transform_idle="o:1;" data-transform_in="y:[100%];z:0;rX:0deg;rY:0;rZ:0;sX:1;sY:1;skX:0;skY:0;opacity:0;s:2000;e:Power4.easeInOut;" data-transform_out="y:[100%];s:1000;e:Power2.easeInOut;" data-mask_in="x:0px;y:[100%];s:inherit;e:inherit;" data-mask_out="x:inherit;y:inherit;s:inherit;e:inherit;" data-start="1500" data-splitin="none" data-splitout="none" data-responsive_offset="on" style="z-index: 6; white-space: nowrap; visibility: inherit; transition: none; line-height: 20px; border-width: 0px; margin: 0px; padding: 0px; letter-spacing: 4px; font-weight: 500; font-size: 13px; min-height: 0px; min-width: 0px; max-height: none; max-width: none; opacity: 1; transform: matrix3d(1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1); transform-origin: 50% 50% 0px;">BUT STILL QUITE COOL. </div></div></div></div>
                        <div class="tp-parallax-wrap" style="position: absolute; visibility: visible; left: 604px; top: 216px; z-index: 7;"><div class="tp-loop-wrap" style="position:absolute;"><div class="tp-mask-wrap" style="position: absolute; overflow: hidden; transform: matrix(1, 0, 0, 1, 0, 0); height: auto; width: auto;"><div class="tp-caption NotGeneric-Icon   tp-resizeme" id="slide-185-layer-8" data-x="['center','center','center','center']" data-hoffset="['0','0','0','0']" data-y="['middle','middle','middle','middle']" data-voffset="['-68','-68','-68','-68']" data-width="none" data-height="none" data-whitespace="nowrap" data-transform_idle="o:1;" data-transform_in="y:[100%];z:0;rX:0deg;rY:0;rZ:0;sX:1;sY:1;skX:0;skY:0;opacity:0;s:1500;e:Power4.easeInOut;" data-transform_out="y:[100%];s:1000;e:Power2.easeInOut;" data-mask_in="x:0px;y:[100%];s:inherit;e:inherit;" data-mask_out="x:inherit;y:inherit;s:inherit;e:inherit;" data-start="2000" data-splitin="none" data-splitout="none" data-responsive_offset="on" style="z-index: 7; white-space: nowrap; cursor: default; visibility: inherit; transition: none; line-height: 30px; border-width: 0px; margin: 0px; padding: 0px; letter-spacing: 3px; font-weight: 400; font-size: 30px; min-height: 0px; min-width: 0px; max-height: none; max-width: none; opacity: 1; transform: matrix3d(1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1); transform-origin: 50% 50% 0px;"><i class="pe-7s-refresh" style="transition: none; line-height: 30px; border-width: 0px; margin: 0px; padding: 0px; letter-spacing: 3px; font-weight: 400; font-size: 30px;"></i> </div></div></div></div>
                    </li>
                    <li data-index="rs-184" data-transition="fadetotopfadefrombottom" data-slotamount="default" data-hideafterloop="0" data-hideslideonmobile="off" data-easein="Power3.easeInOut" data-easeout="Power3.easeInOut" data-masterspeed="1500" data-thumb="https://revolutioncdn-themepunchgbr.netdna-ssl.com/wp-content/uploads/revslider/fancytabs/touchit.jpg" data-rotate="0" data-saveperformance="off" data-title="Parallax" data-param1="" data-param2="" data-param3="" data-param4="" data-param5="" data-param6="" data-param7="" data-param8="" data-param9="" data-param10="" data-description="" class="tp-revslider-slidesli active-revslide" style="width: 1240px; height: 100%; overflow: hidden; transform-style: flat; z-index: 100; visibility: inherit; opacity: 1; transform-origin: 50% 50% 0px; left: 325px; transform: matrix3d(1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1);">
 
                    <div class="slotholder" style="position: absolute; top: 0px; left: 0px; z-index: 0; width: 100%; height: 100%; backface-visibility: hidden; transform: translate3d(0px, 0px, 0px);"><!--Runtime Modification - Img tag is Still Available for SEO Goals in Source - <img src="//revolutioncdn-themepunchgbr.netdna-ssl.com/wp-content/uploads/revslider/fancytabs/touchit.jpg" alt="" title="touchit.jpg" width="1920" height="1280" data-bgposition="center center" data-bgfit="cover" data-bgrepeat="no-repeat" data-bgparallax="5" class="rev-slidebg defaultimg" data-no-retina="">--><div class="tp-bgimg defaultimg" style="background-color:rgba(0, 0, 0, 0);background-repeat:no-repeat;background-image:url(//revolutioncdn-themepunchgbr.netdna-ssl.com/wp-content/uploads/revslider/fancytabs/touchit.jpg);background-size:cover;background-position:center center;width:100%;height:100%;" src="//revolutioncdn-themepunchgbr.netdna-ssl.com/wp-content/uploads/revslider/fancytabs/touchit.jpg"></div></div>
 
 
                    <div class="tp-parallax-wrap tp-parallax-container" style="position: absolute; visibility: visible; transform: matrix(1, 0, 0, 1, 20.06, 6.52); left: 309px; top: 255px; z-index: 5;"><div class="tp-loop-wrap" style="position:absolute;"><div class="tp-mask-wrap" style="position: absolute; overflow: hidden; transform: matrix(1, 0, 0, 1, 0, 0); height: auto; width: auto;"><div class="tp-caption NotGeneric-Title   tp-resizeme rs-parallaxlevel-3" id="slide-184-layer-1" data-x="['center','center','center','center']" data-hoffset="['0','0','0','0']" data-y="['middle','middle','middle','middle']" data-voffset="['0','0','0','0']" data-fontsize="['70','70','70','45']" data-lineheight="['70','70','70','50']" data-width="none" data-height="none" data-whitespace="nowrap" data-transform_idle="o:1;" data-transform_in="z:0;rX:0deg;rY:0;rZ:0;sX:1.5;sY:1.5;skX:0;skY:0;opacity:0;s:1500;e:Power3.easeOut;" data-transform_out="y:[100%];s:1000;e:Power2.easeInOut;" data-mask_in="x:0px;y:0px;s:inherit;e:inherit;" data-mask_out="x:inherit;y:inherit;s:inherit;e:inherit;" data-start="1000" data-splitin="none" data-splitout="none" data-responsive_offset="on" style="z-index: 5; white-space: nowrap; visibility: inherit; transition: none; line-height: 70px; border-width: 0px; margin: 0px; padding: 10px 0px; letter-spacing: 0px; font-weight: 800; font-size: 70px; min-height: 0px; min-width: 0px; max-height: none; max-width: none; opacity: 1; transform: matrix3d(1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1); transform-origin: 50% 50% 0px;">MOUSE PARALLAX </div></div></div></div>
 
                    <div class="tp-parallax-wrap tp-parallax-container" style="position: absolute; visibility: visible; transform: matrix(1, 0, 0, 1, 15.045, 4.89); left: 534px; top: 342px; z-index: 6;"><div class="tp-loop-wrap" style="position:absolute;"><div class="tp-mask-wrap" style="position: absolute; overflow: hidden; transform: matrix(1, 0, 0, 1, 0, 0); height: auto; width: auto;"><div class="tp-caption NotGeneric-SubTitle   tp-resizeme rs-parallaxlevel-2" id="slide-184-layer-4" data-x="['center','center','center','center']" data-hoffset="['0','0','0','0']" data-y="['middle','middle','middle','middle']" data-voffset="['52','52','52','51']" data-width="none" data-height="none" data-whitespace="nowrap" data-transform_idle="o:1;" data-transform_in="y:[100%];z:0;rX:0deg;rY:0;rZ:0;sX:1;sY:1;skX:0;skY:0;opacity:0;s:2000;e:Power4.easeInOut;" data-transform_out="y:[100%];s:1000;e:Power2.easeInOut;" data-mask_in="x:0px;y:[100%];s:inherit;e:inherit;" data-mask_out="x:inherit;y:inherit;s:inherit;e:inherit;" data-start="1500" data-splitin="none" data-splitout="none" data-responsive_offset="on" style="z-index: 6; white-space: nowrap; visibility: inherit; transition: none; line-height: 20px; border-width: 0px; margin: 0px; padding: 0px; letter-spacing: 4px; font-weight: 500; font-size: 13px; min-height: 0px; min-width: 0px; max-height: none; max-width: none; opacity: 1; transform: matrix3d(1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1); transform-origin: 50% 50% 0px;">AIN'T THAT NICE? </div></div></div></div>
 
                    <div class="tp-parallax-wrap tp-parallax-container" style="position: absolute; visibility: visible; transform: matrix(1, 0, 0, 1, 10.03, 3.26); left: 604px; top: 216px; z-index: 7;"><div class="tp-loop-wrap" style="position:absolute;"><div class="tp-mask-wrap" style="position: absolute; overflow: hidden; transform: matrix(1, 0, 0, 1, 0, 0); height: auto; width: auto;"><div class="tp-caption NotGeneric-Icon   tp-resizeme rs-parallaxlevel-1" id="slide-184-layer-8" data-x="['center','center','center','center']" data-hoffset="['0','0','0','0']" data-y="['middle','middle','middle','middle']" data-voffset="['-68','-68','-68','-68']" data-width="none" data-height="none" data-whitespace="nowrap" data-transform_idle="o:1;" data-transform_in="y:[100%];z:0;rX:0deg;rY:0;rZ:0;sX:1;sY:1;skX:0;skY:0;opacity:0;s:1500;e:Power4.easeInOut;" data-transform_out="y:[100%];s:1000;e:Power2.easeInOut;" data-mask_in="x:0px;y:[100%];s:inherit;e:inherit;" data-mask_out="x:inherit;y:inherit;s:inherit;e:inherit;" data-start="2000" data-splitin="none" data-splitout="none" data-responsive_offset="on" style="z-index: 7; white-space: nowrap; cursor: default; visibility: inherit; transition: none; line-height: 30px; border-width: 0px; margin: 0px; padding: 0px; letter-spacing: 3px; font-weight: 400; font-size: 30px; min-height: 0px; min-width: 0px; max-height: none; max-width: none; opacity: 1; transform: matrix3d(1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1); transform-origin: 50% 50% 0px;"><i class="pe-7s-mouse" style="transition: none; line-height: 30px; border-width: 0px; margin: 0px; padding: 0px; letter-spacing: 3px; font-weight: 400; font-size: 30px;"></i> </div></div></div></div>
 
                    <div class="tp-parallax-wrap tp-parallax-container" style="position: absolute; visibility: visible; transform: matrix(1, 0, 0, 1, 80.24, 26.08); left: 680px; top: 632px; z-index: 8;"><div class="tp-loop-wrap rs-pendulum" style="position: absolute; transform: matrix3d(-0.586651, 0.80984, 0, 0, -0.80984, -0.586651, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1); min-height: 240px; min-width: 240px; transform-origin: 50% 50% 0px;"><div class="tp-mask-wrap" style="position: absolute; overflow: visible; height: auto; width: auto;"><div class="tp-caption   tp-resizeme rs-parallaxlevel-8" id="slide-184-layer-10" data-x="['left','left','left','left']" data-hoffset="['680','680','680','680']" data-y="['top','top','top','top']" data-voffset="['632','632','632','632']" data-width="none" data-height="none" data-whitespace="nowrap" data-transform_idle="o:1;" data-transform_in="opacity:0;s:1000;e:Power2.easeInOut;" data-transform_out="opacity:0;s:1000;" data-start="2000" data-responsive_offset="on" style="z-index: 8; visibility: inherit; transition: none; line-height: 0px; border-width: 0px; margin: 0px; padding: 0px; letter-spacing: 0px; font-weight: 400; font-size: 16px; white-space: nowrap; min-height: 0px; min-width: 0px; max-height: none; max-width: none; opacity: 1; transform: matrix3d(1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1); transform-origin: 50% 50% 0px;">
                    <img src="//revolutioncdn-themepunchgbr.netdna-ssl.com/wp-content/uploads/revslider/classic-carousel/blurflake4.png" alt="" width="240" height="240" data-ww="['240px','240px','240px','240px']" data-hh="['240px','240px','240px','240px']" data-no-retina="" style="width: 240px; height: 240px; transition: none; line-height: 0px; border-width: 0px; margin: 0px; padding: 0px; letter-spacing: 0px; font-weight: 400; font-size: 16px;"> </div></div></div></div>
 
                    <div class="tp-parallax-wrap tp-parallax-container" style="position: absolute; visibility: visible; transform: matrix(1, 0, 0, 1, 60.18, 19.56); left: 948px; top: 487px; z-index: 9;"><div class="tp-loop-wrap rs-wave" style="position: absolute; min-height: 170px; min-width: 170px; transform: matrix(1, 0, 0, 1, -35.0777, 35.6236);"><div class="tp-mask-wrap" style="position: absolute; overflow: visible; height: auto; width: auto;"><div class="tp-caption   tp-resizeme rs-parallaxlevel-7" id="slide-184-layer-11" data-x="['left','left','left','left']" data-hoffset="['948','948','948','948']" data-y="['top','top','top','top']" data-voffset="['487','487','487','487']" data-width="none" data-height="none" data-whitespace="nowrap" data-transform_idle="o:1;" data-transform_in="opacity:0;s:1000;e:Power2.easeInOut;" data-transform_out="opacity:0;s:1000;" data-start="2000" data-responsive_offset="on" style="z-index: 9; visibility: inherit; transition: none; line-height: 0px; border-width: 0px; margin: 0px; padding: 0px; letter-spacing: 0px; font-weight: 400; font-size: 16px; white-space: nowrap; min-height: 0px; min-width: 0px; max-height: none; max-width: none; opacity: 1; transform: matrix3d(1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1); transform-origin: 50% 50% 0px;">
                    <img src="//revolutioncdn-themepunchgbr.netdna-ssl.com/wp-content/uploads/revslider/classic-carousel/blurflake3.png" alt="" width="170" height="170" data-ww="['170px','170px','170px','170px']" data-hh="['170px','170px','170px','170px']" data-no-retina="" style="width: 170px; height: 170px; transition: none; line-height: 0px; border-width: 0px; margin: 0px; padding: 0px; letter-spacing: 0px; font-weight: 400; font-size: 16px;"> </div></div></div></div>
 
                    <div class="tp-parallax-wrap tp-parallax-container" style="position: absolute; visibility: visible; transform: matrix(1, 0, 0, 1, 25.075, 8.15); left: 719px; top: 200px; z-index: 10;"><div class="tp-loop-wrap rs-rotate" style="position: absolute; transform: matrix3d(0.482947, 0.87565, 0, 0, -0.87565, 0.482947, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1); min-height: 51px; min-width: 50px; transform-origin: 50% 50% 0px;"><div class="tp-mask-wrap" style="position: absolute; overflow: visible; height: auto; width: auto;"><div class="tp-caption   tp-resizeme rs-parallaxlevel-4" id="slide-184-layer-12" data-x="['left','left','left','left']" data-hoffset="['719','719','719','719']" data-y="['top','top','top','top']" data-voffset="['200','200','200','200']" data-width="none" data-height="none" data-whitespace="nowrap" data-transform_idle="o:1;" data-transform_in="opacity:0;s:1000;e:Power2.easeInOut;" data-transform_out="opacity:0;s:1000;" data-start="2000" data-responsive_offset="on" style="z-index: 10; visibility: inherit; transition: none; line-height: 0px; border-width: 0px; margin: 0px; padding: 0px; letter-spacing: 0px; font-weight: 400; font-size: 16px; white-space: nowrap; min-height: 0px; min-width: 0px; max-height: none; max-width: none; opacity: 1; transform: matrix3d(1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1); transform-origin: 50% 50% 0px;">
                    <img src="//revolutioncdn-themepunchgbr.netdna-ssl.com/wp-content/uploads/revslider/classic-carousel/blurflake2.png" alt="" width="50" height="51" data-ww="['50px','50px','50px','50px']" data-hh="['51px','51px','51px','51px']" data-no-retina="" style="width: 50px; height: 51px; transition: none; line-height: 0px; border-width: 0px; margin: 0px; padding: 0px; letter-spacing: 0px; font-weight: 400; font-size: 16px;"> </div></div></div></div>
 
                    <div class="tp-parallax-wrap tp-parallax-container" style="position: absolute; visibility: visible; transform: matrix(1, 0, 0, 1, 35.105, 11.41); left: 187px; top: 216px; z-index: 11;"><div class="tp-loop-wrap rs-wave" style="position: absolute; min-height: 120px; min-width: 120px; transform: matrix(1, 0, 0, 1, 6.62569, -7.45618);"><div class="tp-mask-wrap" style="position: absolute; overflow: visible; height: auto; width: auto;"><div class="tp-caption   tp-resizeme rs-parallaxlevel-6" id="slide-184-layer-13" data-x="['left','left','left','left']" data-hoffset="['187','187','187','187']" data-y="['top','top','top','top']" data-voffset="['216','216','216','216']" data-width="none" data-height="none" data-whitespace="nowrap" data-transform_idle="o:1;" data-transform_in="opacity:0;s:1000;e:Power2.easeInOut;" data-transform_out="opacity:0;s:1000;" data-start="2000" data-responsive_offset="on" style="z-index: 11; visibility: inherit; transition: none; line-height: 0px; border-width: 0px; margin: 0px; padding: 0px; letter-spacing: 0px; font-weight: 400; font-size: 16px; white-space: nowrap; min-height: 0px; min-width: 0px; max-height: none; max-width: none; opacity: 1; transform: matrix3d(1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1); transform-origin: 50% 50% 0px;">
                    <img src="//revolutioncdn-themepunchgbr.netdna-ssl.com/wp-content/uploads/revslider/classic-carousel/blurflake1.png" alt="" width="120" height="120" data-ww="['120px','120px','120px','120px']" data-hh="['120px','120px','120px','120px']" data-no-retina="" style="width: 120px; height: 120px; transition: none; line-height: 0px; border-width: 0px; margin: 0px; padding: 0px; letter-spacing: 0px; font-weight: 400; font-size: 16px;"> </div></div></div></div>
                    </li>
                    <%--<asp:Repeater ID="rpNews" runat="server">
                        <ItemTemplate>

                            <!-- SLIDE  -->
                            <li data-index="rs-<%# DataBinder.Eval (Container.DataItem, "Key") %>" data-transition="zoomout" data-slotamount="default" data-easein="Power4.easeInOut" data-easeout="Power4.easeInOut" data-masterspeed="2000" data-thumb="<%# DataBinder.Eval (Container.DataItem, "LinkImage") %>" data-rotate="0" data-fstransition="fade" data-fsmasterspeed="1500" data-fsslotamount="7" data-saveperformance="off" data-title="" data-description="">
                                <!-- MAIN IMAGE -->
                                <img src="<%# DataBinder.Eval (Container.DataItem, "LinkImage") %>" alt="" data-bgposition="center center" data-bgfit="cover" data-bgrepeat="no-repeat" data-bgparallax="10" class="rev-slidebg" data-no-retina>
                                <!-- LAYERS -->

                                <!-- LAYER NR. 1 -->
                                <div class="tp-caption NotGeneric-Title   tp-resizeme rs-parallaxlevel-0"
                                    id="slide-<%# DataBinder.Eval (Container.DataItem, "Key") %>-layer-1"
                                    data-x="['left','left','left','left']" data-hoffset="['0','0','0','0']"
                                    data-y="['middle','middle','middle','middle']" data-voffset="['0','0','0','0']"
                                    data-fontsize="['70','70','70','45']"
                                    data-lineheight="['70','70','70','50']"
                                    data-width="none"
                                    data-height="none"
                                    data-whitespace="nowrap"
                                    data-transform_idle="o:1;"
                                    data-transform_in="z:0;rX:0;rY:0;rZ:0;sX:0.9;sY:0.9;skX:0;skY:0;opacity:0;s:1500;e:Power3.easeInOut;"
                                    data-transform_out="y:[100%];s:1000;e:Power2.easeInOut;s:1000;e:Power2.easeInOut;"
                                    data-mask_out="x:inherit;y:inherit;"
                                    data-start="1000"
                                    data-splitin="none"
                                    data-splitout="none"
                                    data-responsive_offset="on"
                                    style="z-index: 5; white-space: nowrap;">
                                    <h2 class="slider-title"><%# DataBinder.Eval (Container.DataItem, "Title")%></h2>
                                    <p class="slider-text"><%# DataBinder.Eval (Container.DataItem, "Description") %></p>
                                </div>

                                <!-- LAYER NR. 2 -->
                                <div class="tp-caption NotGeneric-SubTitle   tp-resizeme rs-parallaxlevel-0"
                                    id="slide-<%# DataBinder.Eval (Container.DataItem, "Key") %>-layer-4"
                                    data-x="['left','left','left','left']" data-hoffset="['0','0','0','0']"
                                    data-y="['middle','middle','middle','middle']" data-voffset="['52','52','52','51']"
                                    data-width="none"
                                    data-height="none"
                                    data-whitespace="nowrap"
                                    data-transform_idle="o:1;"
                                    data-transform_in="y:[100%];z:0;rX:0deg;rY:0;rZ:0;sX:1;sY:1;skX:0;skY:0;opacity:0;s:2000;e:Power4.easeInOut;"
                                    data-transform_out="y:[100%];s:1000;e:Power2.easeInOut;s:1000;e:Power2.easeInOut;"
                                    data-mask_in="x:0px;y:[100%];s:inherit;e:inherit;"
                                    data-mask_out="x:inherit;y:inherit;s:inherit;e:inherit;"
                                    data-start="1500"
                                    data-splitin="none"
                                    data-splitout="none"
                                    data-responsive_offset="on"
                                    style="z-index: 6; white-space: nowrap;">
                                    <a href="/Pages/Atividade.aspx?at=<%# DataBinder.Eval (Container.DataItem, "Key") %>" class="slider mdl-button mdl-js-button mdl-button--raised mdl-js-ripple-effect mdl-button--accent">Saber mais</a>
                                </div>

                                <!-- LAYER NR. 3 -->
                                <div class="tp-caption NotGeneric-Icon   tp-resizeme rs-parallaxlevel-0"
                                    id="slide-<%# DataBinder.Eval (Container.DataItem, "Key") %>-layer-8"
                                    data-x="['center','center','center','center']" data-hoffset="['0','0','0','0']"
                                    data-y="['middle','middle','middle','middle']" data-voffset="['-58','-58','-58','-58']"
                                    data-width="none"
                                    data-height="none"
                                    data-whitespace="nowrap"
                                    data-transform_idle="o:1;"
                                    data-style_hover="cursor:default;"
                                    data-transform_in="y:[100%];z:0;rX:0deg;rY:0;rZ:0;sX:1;sY:1;skX:0;skY:0;opacity:0;s:1500;e:Power4.easeInOut;"
                                    data-transform_out="y:[100%];s:1000;e:Power2.easeInOut;s:1000;e:Power2.easeInOut;"
                                    data-mask_in="x:0px;y:[100%];s:inherit;e:inherit;"
                                    data-mask_out="x:inherit;y:inherit;s:inherit;e:inherit;"
                                    data-start="2000"
                                    data-splitin="none"
                                    data-splitout="none"
                                    data-responsive_offset="on"
                                    style="z-index: 7; white-space: nowrap;">
                                    <i class="pe-7s-refresh"></i>
                                </div>
                            </li>

                        </ItemTemplate>
                    </asp:Repeater>--%>


                </ul>
                <div class="tp-static-layers"></div>
                <div class="tp-bannertimer" style="height: 7px; background-color: rgba(255, 255, 255, 0.25);"></div>
            </div>
        </div>
        <!-- END REVOLUTION SLIDER -->
    </div>
</div>